<form (ngSubmit)="submit()" [formGroup]="entityEditForm">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px" style="margin-top: 5px">

    <mat-form-field ngDefaultControl >
      <input matInput
             required
             placeholder="{{entityType === 'folder' ? 'Folder ' : 'Workspace '}}name"
             [formControlName]="'name'"
             [readonly]="! isWriteable"
      >
      <mat-error *ngIf="entityEditForm.get('name').hasError('required')">
        Enter the {{entityType}}'s name
      </mat-error>
      <mat-error *ngIf="entityEditForm.get('name').hasError('existing')">
        This name is already used
      </mat-error>
      <mat-error *ngIf="entityEditForm.get('name').hasError('forbiddenChar')">
        These characters are forbidden: \ / : * ? " < > |
      </mat-error>
    </mat-form-field>

    <ng-container *ngIf="{value: isAdmin$ | async } as context">
      <mat-form-field *ngIf="context.value">
        <input
                  type="text"
                  matInput
                  required
                  [matAutocomplete]="autoSearchUsers ? autoSearchUsers : ''"
                  placeholder="Owner"
                  [formControlName]="'owner'"
                  (focus)="sendEventResetSearch()"
                  (click)="handleClick()"
                  (focusout)="handleOwnerFocusOut()"
                  style="width: 100%"
        >
        <button mat-button *ngIf="entityEditForm.get('owner').value" matSuffix mat-icon-button aria-label="Clear"
                (click)="clearOwner()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #autoSearchUsers="matAutocomplete"
                          fxFlex="40"
                          [displayWith]="displayWithFunc"
                          (optionSelected)="selectUser()"
        >
          <!--(optionSelected)="selectUser()"-->
          <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>person</mat-icon>
              <span>
                {{user.firstName
              + ' '
              + user.lastName
              + ' (' + user.uid + '@' + user.source
              + ')'}}
              </span>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-container>


    <table id="table">
      <ng-container *ngIf="{value: isAdmin$ | async } as context">
        <tr *ngIf="context.value === false">
          <td class="talign-right data-title">Owner:</td>
          <td>{{entityWrapper.dmEntity.owner + '@' + entityWrapper.dmEntity.ownerSource}}</td>
        </tr>
      </ng-container>
      <tr>
        <td class="talign-right data-title">Id:</td>
        <td>{{entityWrapper.dmEntity.uid}}</td>
      </tr>
      <tr>
        <td class="talign-right data-title">Location:</td>
        <td>
          <div fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="">
              {{location}}
            </div>
            <mat-icon *ngIf="canBeMoved"
                    (click)="openChooseFolderDialog()" style="cursor: pointer">
              folder_open
            </mat-icon>
          </div>
        </td>
      </tr>
      <tr>
        <td class="talign-right data-title">Creation date:</td>
        <td>{{entityWrapper.dmEntity.creationDate | date}}</td>
      </tr>

    </table>

    <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" [ngClass]="'button-box'">
      <div [ngClass]="'kimios-button discreet'"
           fxLayout="row"
           fxLayoutAlign="center center"
           (click)="reset()" >
        <span [class.kimios-button-text]="true">CANCEL</span>
      </div>
      <div [ngClass]="'kimios-button highlight'"
           fxLayout="row"
           fxLayoutAlign="center center"
           (click)="submit()"
           cdkFocusInitial >
        <span [class.kimios-button-text]="true">SAVE</span>
      </div>
    </div>
  </div>
</form>
