<form class="full-width"  fxLayout="column" #form [formGroup]="searchParams" (ngSubmit)="onSubmit()" (keyup)="$event.key === 'Enter' ? onSubmit():1" >
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">

            <div fxFlex="25">
      <mat-form-field class="full-width">
        <input #inputContent type="text" name="inputContent" matInput aria-label="Search"
               formControlName="content" placeholder="Content">
        <button mat-button *ngIf="searchParams.get('content').value" matSuffix mat-icon-button aria-label="Clear" (click)="searchParams.get('content').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
            </div>

            <div fxFlex>
                <mat-icon class="s-24 secondary-text" (click)="onSubmit()">search</mat-icon>
            </div>

        </div>
    </mat-expansion-panel-header>

    <div fxLayout="row space-between">

        <div  fxFlex="40">
      <mat-form-field>
        <input #inputFilename type="text" name="inputFilename" matInput aria-label="Tags" formControlName="filename"
               [matAutocomplete]="autoFilename" placeholder="Filename">
        <button mat-button *ngIf="searchParams.get('filename').value" matSuffix mat-icon-button aria-label="Clear" (click)="searchParams.get('filename').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #autoFilename="matAutocomplete" fxFlex="40">
          <mat-option *ngFor="let name of filenames$ | async" placeholder="File name" [value]="name"
                      (click)="onSubmit()" >
            <span>{{name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
        </div>

      <!-- TODO propose terms to search by content (needs Kimios server improvements to have it in Solr index)

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let term of terms$ | async" [value]="term">
      <span>{{term}}</span> |
    </mat-option>
  </mat-autocomplete>
  -->
        <div  fxFlex="40">
      <mat-form-field fxFlex="40">
        <input #inputTag type="text" name="inputTag" matInput aria-label="Tags" formControlName="tag"
               [matAutocomplete]="autoTag" placeholder="Tags">
          <button mat-button *ngIf="inputTag.value" matSuffix mat-icon-button aria-label="Clear" (click)="this.searchParams.value.get('tag').setValue('uid', -1)">
              <mat-icon>close</mat-icon>
          </button>
        <mat-autocomplete #autoTag="matAutocomplete" [displayWith]="displayTag">
          <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag"
                      (click)="onSubmit()">
            <span>{{tag.name}} ({{tag.count}})</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
        </div>
    </div>

</mat-expansion-panel>

</form>
