<form class="full-width"  fxLayout="column" #form [formGroup]="searchParams" (ngSubmit)="onSubmit()" (keyup)="$event.key === 'Enter' ? onSubmit():1" >
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">

            <div fxFlex="25">
      <mat-form-field class="full-width">
        <input #inputContent type="text" name="inputContent" matInput aria-label="Search"
               formControlName="content" placeholder="Content">
        <button mat-button *ngIf="searchParams.get('content').value" matSuffix mat-icon-button aria-label="Clear" (click)="searchParams.get('content').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
            </div>

            <div fxFlex>
                <mat-icon class="s-24 secondary-text" (click)="onSubmit()">search</mat-icon>
            </div>

        </div>
    </mat-expansion-panel-header>

    <div fxLayout="row space-between">

        <div  fxFlex="30">
      <mat-form-field>
        <input #inputFilename type="text" name="inputFilename" matInput aria-label="Tags" formControlName="filename"
               [matAutocomplete]="autoFilename" placeholder="Filename">
        <button mat-button *ngIf="searchParams.get('filename').value" matSuffix mat-icon-button aria-label="Clear" (click)="searchParams.get('filename').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #autoFilename="matAutocomplete" fxFlex="40">
          <mat-option *ngFor="let name of filenames$ | async" placeholder="File name" [value]="name"
                      (click)="onSubmit()" >
            <span>{{name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
        </div>

      <!-- TODO propose terms to search by content (needs Kimios server improvements to have it in Solr index)

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let term of terms$ | async" [value]="term">
      <span>{{term}}</span> |
    </mat-option>
  </mat-autocomplete>
  -->
        <div  fxFlex="60">
<!--          <mat-form-field>-->
<!--            <input #inputTag type="text" name="inputTag" matInput aria-label="Tags" [formControl]="tagFilter"-->
<!--                   [matAutocomplete]="autoTag" placeholder="Tags">-->
<!--            <button mat-button *ngIf="tagFilter.value" matSuffix mat-icon-button aria-label="Clear" (click)="tagFilter.setValue('')">-->
<!--              <mat-icon>close</mat-icon>-->
<!--            </button>-->
<!--            <mat-autocomplete #autoTag="matAutocomplete" [displayWith]="displayTag">-->
<!--              <mat-option *ngFor="let tag of filteredTags$ | async"-->
<!--                          (click)="selectTag(tag);">-->
<!--                {{tag.name}} ({{tag.count}})-->
<!--              </mat-option>-->
<!--            </mat-autocomplete>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      <div fxFlex="40">-->
<!--        <mat-chip-list #selectedTags>-->
<!--          <mat-chip *ngFor="let tag of selectedTags$ | async"-->
<!--                    [removable]="removable" (removed)="removeTag(tag)" value="tag.name">-->
<!--            {{tag.getName()}}-->
<!--            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>-->
<!--          </mat-chip>-->
<!--        </mat-chip-list>-->

        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList>
            <mat-chip
                    *ngFor="let tag of selectedTags"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="deselectTag(tag)">
              {{tag.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
                    placeholder="Selected tags"
                    #tagInput
                    [formControl]="tagCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayTag">
            <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
              {{tag.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

</mat-expansion-panel>

</form>
