<div>
  <div  fxLayout="row" fxLayoutAlign="space-between  center" style="width: 100%">
    <mat-form-field fxFlex="47">
      <input
              matInput
              class="w100p"
              placeholder="Search for existing tags"
              #tagInput
              [formControl]="tagCtrl"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
      >
    </mat-form-field>

  </div>

    <mat-chip-list
            #chipList
            cdkDropList
            [cdkDropListConnectedTo]="cdkDropListConnectedTo_var"
    >

      <mat-chip
              *ngFor="let tag of filteredTags$ | async"
              [selectable]="selectable"
              cdkDrag
              (cdkDragEnded)="dragEnd($event)"
              (cdkDragStarted)="dragStart($event)"
              [cdkDragData]="tag"
      >
        {{tag}}
      </mat-chip>
    </mat-chip-list>

</div>
