<div class="wrapper">
    <div class="overlay" *ngIf="showSpinner">
        <div class="spinner-wrapper">
            <mat-spinner
                    color="primary"
            ></mat-spinner>
        </div>
    </div>

    <div class="loaded-content" [class.blurred]="showSpinner">


<form class="example-container" [formGroup]="dmEntitySecuritiesForm.get('formGroupSecurities')">

    <div fxLayout="column" fxLayoutAlign="space-between center">

    <mat-table #table [dataSource]="dataSource"
             matSort class="w100pc">
    <!--matSortActive="" matSortDirection="desc" matSortDisableClear-->

    <ng-container
            *ngFor="let col of columnsDescription"
            matColumnDef="{{col.matColumnDef}}"
            sticky="{{col.sticky}}" >
      <mat-header-cell
              *matHeaderCellDef
              mat-sort-header="{{col.noSortHeader ? 'disabled' : col.matColumnDef}}"
              class="{{col.class ? col.class : ''}}"
      ><mat-icon *ngIf="col.cellHeaderIcon" (click)="add()">{{col.cellHeaderIcon}}</mat-icon>{{col.displayName}}</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;" class="{{col.class ? col.class : ''}}" [formGroupName]="i" >
          <mat-icon *ngIf="col.element === 'iconName'" class="cursor-pointer" (click)="deleteRow(element.index, $event)"> {{ col.cell }} </mat-icon>
          <mat-icon *ngIf="col.element === 'iconFunction'" > {{ col.cell(element) }} </mat-icon>
          <span *ngIf="col.element === 'span'">{{ col.cell ? col.cell(element) : element[col.matColumnDef]}}</span>
          <mat-checkbox
                  *ngIf="col.element === 'checkbox'"
                  name="{{col.matColumnDef}}"
                  [checked]="element[col.matColumnDef]"
                  [value]="element[col.matColumnDef]"
                  formControlName="{{col.matColumnDef}}">
          </mat-checkbox>
      </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

  </mat-table>

        <div  fxLayout="row" fxLayoutAlign="center center" mat-dialog-actions>
            <button mat-button (click)="submit()"><mat-icon>check</mat-icon></button>
            <button mat-button (click)="cancel()"><mat-icon>cancel</mat-icon></button>
        </div>

    </div>

</form>


    </div>
</div>

