.mat-column-width100 {
  max-width: 100px !important;
}

.mat-column-width50 {
  max-width: 50px !important;
}

.mat-column-width200 {
  min-width: 200px !important;
}

.w100pc {
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
}
