<h2 mat-dialog-title>
  <span class="material-icons">
    error
  </span>
  {{data.title}}
</h2>
<mat-dialog-content>
  <p>{{data.message}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
    <button [ngClass]="'kimios-button discreet'"
            fxLayout="row"
            fxLayoutAlign="center center"
            (click)="okClick()"
            cdkFocusInitial >
      <span [class.kimios-button-text]="true">OK</span>
    </button>
  </div>
</mat-dialog-actions>
