<div fxLayout="column" fxLayoutAlign="start" style="width: 100%;" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="start" >
        <div fxFlex>
            <span style="font-weight: bolder">
                Permissions
            </span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px">
        <div [class.permission-cell-header]>Read</div>
        <div [class.permission-cell-header]>Write</div>
        <div [class.permission-cell-header]>Full</div>
    </div>
    <div *ngFor="let permission of permissions" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <div fxFlex>
            <div fxLayout="column" >
                <div>
                    <span style="font-weight: bolder">{{permission.fullName}}</span>
                </div>
                <div>
                    <span>{{permission.name + '@' + permission.source}}</span>
                </div>
            </div>
        </div>
        <div [class.permission-cell-header]>{{permission.read}}</div>
        <div [class.permission-cell-header]>{{permission.write}}</div>
        <div [class.permission-cell-header]>{{permission.fullAccess}}</div>
    </div>
    <div [class.div-button-add-user]="true">
        <div class="button-add-user"
             fxFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px;">
            <span>Add user</span>
            <mat-icon>add</mat-icon>
        </div>
    </div>
    <div >
        <div fxLayout="row"
             fxLayoutAlign="center center"
             fxLayoutGap="20px">
            <div [class.kimios-button]="true"
                 [class.kimios-green]="true"
                 [class.inactive]="true"
                 fxLayout="row"
                 fxLayoutAlign="center center">
                <span [class.kimios-button-text]="true">CANCEL</span>
            </div>
            <div [class.kimios-button]="true"
                 [class.kimios-green]="true"
                 [class.active]="true"
                 fxLayout="row"
                 fxLayoutAlign="center center">
                <span class="kimios-button-text">SAVE CHANGES</span>
            </div>
        </div>
    </div>
</div>
