.permission-cell-header {
  width: 50px;
}

.button-add-user {
  border-color: #838D99 !important;
  border-width: 1px !important;

  span {
    font-weight: bold;
  }
}

.div-button-add-user {
  margin-top: 10px;
}
