<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="grow" >

<div *ngFor="let uploadId of progress.keys()">

    <div *ngIf="progress.get(uploadId) | async as fileProgress"
         fxLayout="row" fxLayoutAlign="start start" fxFlex="grow">
        <div fxLayout="column" fxLayoutAlign="start stretch"  fxFlex="grow">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" fxFlex="grow">

                <div>
                    <ng-container *ngIf="fileProgress.status === 'done'; else elseBlockDocumentLink">
                        <ng-container *ngIf="filesUploadedDocuments.get(uploadId) | async as document">
                            <ng-container *ngIf="document !== undefined">
                                <document-link [document]="document" ></document-link>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <ng-template #elseBlockDocumentLink >
                        {{fileProgress.name}}
                    </ng-template>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <ng-container *ngIf="fileProgress.status === 'done'">
                        <ng-container *ngIf="filesUploadedDocuments.get(uploadId) | async as document">
                            <ng-container *ngIf="document !== undefined">
                                <document-menu [entity]="document"></document-menu>
                            </ng-container>
                        </ng-container>
                        <mat-icon class="cursor-default">done</mat-icon>
                    </ng-container>
                    <ng-container *ngIf="fileProgress.status === 'error'">
                        <mat-icon class="cursor-default" title="{{fileProgress.message}}">error</mat-icon>
                    </ng-container>
                </div>

            </div>

        <div>
            <ng-container *ngIf="fileProgress.status === 'progress' && fileProgress.message < 100; else elseBlock">
                <mat-progress-bar
                        [value]="fileProgress.message"
                        [bufferValue]="1"
                        [mode] = "'determinate'">
                </mat-progress-bar>
            </ng-container>
            <ng-template #elseBlock >
                <div fxFlex="grow">
                    <mat-chip-list #chipList>
                        <mat-chip
                                *ngFor="let tag of filesUploaded.get(uploadId) | async"
                        >
                            {{tag.name}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </ng-template>
        </div>


        </div>
    </div>
</div>

</div>
