<mat-tab-group id="tab-group" #tabGroup>

  <mat-tab label="Users">
    <mat-list
            cdkDropList

            [id]="'userList'"
            [cdkDropListConnectedTo]="cdkDropListConnectedTo_var"
    >
      <mat-list-item *ngFor="let user of filteredUsers$ | async"
                     cdkDrag
                     [cdkDragData]="{'type': 'user', 'element': user}"
                     (cdkDragEnded)="dragEnd($event)"
                     (dblclick)="handleDblClick({'type': 'user', 'element': user})"
      >
        <mat-icon>person</mat-icon>
        <span title="{{user.name}} ({{user.uid}}@{{user.source}})">{{user.name}} (@{{user.source}})</span>
      </mat-list-item>
    </mat-list>
  </mat-tab>

  <mat-tab label="Groups">
    <mat-list
            cdkDropList

            [id]="'groupList'"
            [cdkDropListConnectedTo]="cdkDropListConnectedTo_var"
    >
      <mat-list-item *ngFor="let group of filteredGroups$ | async"
                     cdkDrag [cdkDragData]="{'type': 'group', 'element': group}" (cdkDragEnded)="dragEnd($event)"
                     (dblclick)="handleDblClick({'type': 'group', 'element': group})" >
        <mat-icon>group</mat-icon>{{group.name}} (@{{group.source}})
      </mat-list-item>
    </mat-list>
  </mat-tab>

</mat-tab-group>
