
  <div  fxLayout="row" fxLayoutAlign="space-between  center" style="width: 100%">
    <div fxFlex="45">
      <div
              cdkDropList
              [id]="'selectedUsersAndGroups'"
              [cdkDropListConnectedTo]="[userListId, groupListId]"
              (cdkDropListDropped)="drop($event)"
              class="dropArea"
      >
        <div *ngFor="let item of selectedUsersAndGroups$ | async">
          <ng-container *ngIf="item.type === 'user'">
            {{item.element.name}}, {{item.element.firstName}} ({{item.element.source}})
          </ng-container>
          <ng-container *ngIf="item.type === 'group'">
            {{item.element.name}} ({{item.element.source}})
          </ng-container>
        </div>
      </div>
    </div>
    <div fxFlex="45">

      <users-groups-search-panel
              [cdkDropListConnectedTo_var]="'selectedUsersAndGroups'"
              [userListId]="userListId"
              [groupListId]="groupListId"
              [currentSecurities]="currentSecurities"
      >
      </users-groups-search-panel>

    </div>
  </div>




