

    <mat-tab-group>

        <mat-tab label="user data">

            <form  [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div fxLayout="column" >
        <div>
            <span *ngIf="user; else uidInput">{{user.uid}}@{{user.source}}</span>
            <ng-template #uidInput>
                <mat-form-field>
                    <mat-label>uid</mat-label>
                    <input matInput [formControlName]="'uid'">
                    <span matSuffix>@{{source}}</span>
                </mat-form-field>
            </ng-template>
        </div>

        <mat-form-field>
            <mat-label>firstname</mat-label>
            <input matInput [formControlName]="'firstName'">
        </mat-form-field>

        <mat-form-field>
            <mat-label>lastname</mat-label>
            <input matInput [formControlName]="'lastName'">
        </mat-form-field>

        <mat-form-field>
            <mat-label>phone number</mat-label>
            <input matInput [formControlName]="'phoneNumber'">
        </mat-form-field>

        <mat-form-field>
            <mat-label>mail</mat-label>
            <input matInput [formControlName]="'mail'">
        </mat-form-field>

        <mat-form-field>
            <mat-label>password</mat-label>
            <input matInput [formControlName]="'password'">
        </mat-form-field>

        <mat-form-field>
            <mat-label>confirm password</mat-label>
            <input matInput [formControlName]="'passwordConfirm'">
            <mat-error>
                does not match with password
            </mat-error>
        </mat-form-field>

        <mat-slide-toggle
                [formControlName]="'enabled'"
                class="example-margin"
                labelPosition="before">
            {{enabledSlideToggleMessage}}
        </mat-slide-toggle>

    <div *ngIf="edit" fxLayout="row">
        <div fxLayout="row"
             fxLayoutAlign="center center"
             fxLayoutGap="20px"
             fxFill
             style="margin-top: 20px !important;">
            <div [class.kimios-button]="true"
                 [class.discreet]="true"
                 fxLayout="row"
                 fxLayoutAlign="center center"
                 matDialogClose
                 (click)="close()" >
                <span [class.kimios-button-text]="true">CANCEL</span>
            </div>
            <div *ngIf="!showSpinnerFormSubmit; else spinner"
                 [class.kimios-button]="true"
                 [class.highlight]="true"
                 fxLayout="row"
                 fxLayoutAlign="center center"
                 (click)="onSubmit()">
                <span class="kimios-button-text">SAVE USER</span>
            </div>
            <ng-template #spinner>
                <div style="width: 120px" fxLayout="row" fxLayoutAlign="center center">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>
            </ng-template>
        </div>
    </div>

    </div>

            </form>

        </mat-tab>

        <mat-tab label="user groups" *ngIf="user">
            <admin-domains-groups [mode]="'user'" [user]="user" [edit]="edit" ></admin-domains-groups>
        </mat-tab>

    </mat-tab-group>


