<ng-container  *ngIf="securityEnt$ | async as secEnt">
    <div (drop)="handleDrop($event, entity)"
         (dragover)="handleDragOver($event)"
         [ngClass]="{'canRead': secEnt.read, 'canWrite': secEnt.write, 'hasFullAccess': secEnt.fullAccess}"
    >
        <div  fxLayout="column" >
            <div  fxLayout="row" fxLayoutAlign="end" >
                <div class="icon-action-tile">
                    <button (click)="sendDelete(entity)">
                        <mat-icon *ngIf="secEnt.fullAccess">remove_circle</mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <mat-icon>{{iconName}}</mat-icon>
                {{entity.name}}
            </div>
        </div>
    </div>
</ng-container>
