<ng-container  *ngIf="securityEnt$ | async as secEnt">
    <div (drop)="handleDrop($event, entity)"
         (dragover)="handleDragOver($event)"
         (dragenter)="handleDragEnter($event)"
         [ngClass]="{'canRead': secEnt.read, 'canWrite': secEnt.write, 'hasFullAccess': secEnt.fullAccess}"
         draggable="{{secEnt.fullAccess}}"
         (dragstart)="dragStart($event, entity.uid)"
    >
        <div  fxLayout="column" class="kimiosEntity"
              attr.data-kimiosEntity="true"
              draggable="false"
        >
            <!--<div  fxLayout="row" fxLayoutAlign="end" >
                <div class="icon-action-tile">
                    <button (click)="sendDelete(entity)">
                        <mat-icon *ngIf="secEnt.fullAccess">remove_circle</mat-icon>
                    </button>
                </div>
            </div>-->
            <div>
                <mat-icon>{{iconName}}</mat-icon>
                {{entity.name}}
            </div>
        </div>
    </div>
</ng-container>
