<div #sectionContainer fxFlex
     (drop)="handleDrop($event)">
  <!--style="width: 100%; height: 100%; display: block;"-->
  <!--<div fxLayout="row"
       fxLayoutAlign="start"
       style="width: 100%;">
    <div fxFlexOffset="20px">-->

  <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxFlexOffset="20px">

   <!--</div>
  </div>-->
    <div #browsePathAndActions
          fxLayout="row"
       fxLayoutAlign="center"
       style="width: 100%;"
    >
      <div
              #browsePathRow id="browsePathRow" fxFlex>
        <browse-path></browse-path>
      </div>
      <div>
        <form>
          <input hidden type="file" #fileInput (change)="handleFileInput($event.target.files)"
                 multiple="multiple"
          />
          <!--              webkitdirectory=""
          directory=""-->
        </form>
        <button mat-button>
          <mat-icon class="cursor-pointer"
                    (click)="fileInput.click($event.target.files)">cloud_upload</mat-icon>
        </button>
      </div>
      <ng-container *ngIf="isWorkspaceCreator | async as isWC">
        <ng-container *ngIf="isWC">
          <app-workspace-menu></app-workspace-menu>
        </ng-container>
      </ng-container>
    </div>

    <div id="treeAndGridRowWrapper" #treeAndGridRowWrapper>
        <div fxLayout="row"
           fxLayoutAlign="start stretch"
           #treeAndGridRow id="treeAndGridRow" >

          <div id="workspacestreecontainer" fxFlex="21">

            <browse-tree></browse-tree>

          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex id="entity-listing-container">
            <!--<div style="background-color: #2AA198; height: 110%"></div>-->
          <!--<div>
            <mat-paginator
                    [length]="totalFilesFound$ | async"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="paginatorHandler($event)"
                    [pageIndex]="pageIndex"
                    showFirstLastButtons>
            </mat-paginator>
            <mat-divider></mat-divider>
          </div>-->

            <div fxLayout="column"
                 fxLayoutAlign="start" style="height: 100%">
              <div style="overflow: auto; ">
                <entity-listing></entity-listing>
              </div>
              <div *ngIf="length > 0 else noItemsFound;" style="float: bottom; height: 72px;">
                <mat-paginator
                        [length]="length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="paginatorHandler($event)"
                        [pageIndex]="pageIndex"
                        showFirstLastButtons>
                </mat-paginator>
              </div>
              <ng-template #noItemsFound >
                <div style="width: 100%" fxLayout="row" fxLayoutAlign="center"
                     [ngClass]="'kimios-section-content'">
                  <p style="font-style: italic;">no items found</p>
                </div>
              </ng-template>
            </div>

          </div>

        </div>

    </div>

  </div>

</div>
