.no-margin-bottom {
  margin-bottom: 0;
}

#treeAndGridRow {
  // background-color: white;
  // box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
  padding-top: 20px;
  height: 100%;
  border-radius: 10px;
  padding-bottom: 10px;
}

#treeAndGridRowWrapper {
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  // flex-grow: 1;

  width: 100%;
  height: 100%;
}

#entity-listing-container {
  // height: 100%;
  // overflow: auto;
  min-height: 0;
}
