#goBackIcon {
  font-size: 50px;
  width: 50px;
  height: 50px;
}

.goBackDiv {
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content {
  margin-left: 20px;
}

#docTitle {
  font-size: 50px;
}

.disabledIcon {
  opacity: 40%;
  cursor: default;
}

#versionList > mat-list-item:hover {
  // background-color: #e3e6e6;
}

#versionList > mat-list-item.selected {
  // background-color: #cacdcd;
}

#versionList > mat-list-item mat-icon:hover {
  // background-color: #039be5
}

.data-tab-content {
  max-width: 500px;
  width: max-content;
}

.mat-tab-group {
  //min-height: 100%;
  //height: 100%;
}
