<div fxLayout="column" fxLayoutAlign="start stretch" fxFill *ngIf="documentWrapper$ | async as documentWrapper">

    <div fxLayout="row" fxLayoutAlign="start space-between" fxFlex >
        <div #browsePathRow id="browsePathRow" fxFlex>
            <browse-path [document]="documentWrapper.dmEntity"></browse-path>
        </div>
        <file-toolbar [documentWrapper]="documentWrapper" [canWrite$]="canWrite$" [hasFullAccess$]="hasFullAccess$"></file-toolbar>
    </div>

    <div class="content" fxFill style="overflow: auto;">

<!-- File details -->
        <ng-container>

            <nav mat-tab-nav-bar>
                <a mat-tab-link
                   *ngFor="let link of navLinks"
                   [routerLink]="link.path"
                   routerLinkActive #rla="routerLinkActive"
                   [active]="rla.isActive">
                    {{link.label}}
                </a>
            </nav>

            <router-outlet></router-outlet>

        </ng-container>

    </div>

</div>

