<div fxLayout="column" fxLayoutAlign="start stretch" fxFill>

    <div fxLayout="row" fxLayoutAlign="start space-between" fxFlex *ngIf="documentData$ | async as document">
        <div>
            #browsePathRow id="browsePathRow" fxFlex>
            <browse-path [document]="document"></browse-path>
        </div>
        <file-toolbar [document]="document" [canWrite$]="canWrite$" [hasFullAccess$]="hasFullAccess$"></file-toolbar>
    </div>

    <div class="content" fxFill>

<!-- File details -->
        <div *ngIf="documentData$ | async as data">

            <span id="docTitle">{{data.name + (data.extension ? '.' + data.extension : '')}}</span>

            <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill>

                <div style="margin-right: 20px">



                    <mat-tab-group dynamicHeight>
                        <mat-tab label="Data">

                            <!-- file properties : name, type, size, author, creation date -->
                            <file-detail-data [document]="data"></file-detail-data>

                            <!-- tags -->
                            <div fxFlexFill>
                                <mat-form-field *ngIf="canWrite$ | async; else elseBlockTags" fxFlexFill>
                                    <mat-chip-list #chipList>
                                        <mat-chip
                                                *ngFor="let tag of documentTags$ | async"
                                                [selectable]="selectable"
                                                [removable]="removable"
                                                (removed)="remove(tag)">
                                            {{tag}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input
                                                placeholder="Tags"
                                                #tagInput
                                                [formControl]="tagCtrl"
                                                [matAutocomplete]="auto"
                                                [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur"
                                                (matChipInputTokenEnd)="createAndAddTag($event)"
                                                (keyup.enter)="addTagOnInput()" >
                                    </mat-chip-list>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                        <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
                                            {{tag}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <ng-template #elseBlockTags>
                                    <mat-chip-list #chipList>
                                        <mat-chip
                                                *ngFor="let tag of documentTags$ | async"
                                                [selectable]="false"
                                                [removable]="false"
                                                (removed)="remove(tag)">
                                            {{tag}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </ng-template>
                            </div>

                        </mat-tab>

                        <!-- file versions -->
                        <!--    <div *ngIf="documentVersions$ | async as versions">-->

                        <mat-tab *ngIf="documentVersions$ | async as versions" [disabled]="versions.length <= 1" label="Versions">

                            <!--<div *ngIf="versions.length > 1; else versionsElseBlock">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    {{versions.length}} versions recorded, last on {{versions[0].creationDate | date}} by {{versions[0].author}}.
                </mat-expansion-panel-header>-->
                            <mat-list id="versionList">
                                <mat-list-item
                                        *ngFor="let version of versions"
                                        [ngClass]="{'selected' : version.uid === currentVersionId}"
                                        (click)="handleVersionPreview(version.uid)"
                                        class="cursor-pointer">
                                    <mat-icon id="downloadVersion" mat-list-icon class="cursor-pointer"
                                              (click)="handleVersionDownload(version.uid)">
                                        cloud_download
                                    </mat-icon>
                                    <mat-icon mat-list-icon>
                                        visibility
                                    </mat-icon>
                                    <p mat-line> {{version.creationDate | date}}, by {{version.author}} </p>
                                </mat-list-item>
                            </mat-list>
                            <!--</mat-expansion-panel>
        </div>
        <ng-template #versionsElseBlock>1 version recorded, last on {{versions[0].creationDate | date}} by {{versions[0].author}}.</ng-template>
-->
                        </mat-tab>

                        <mat-tab label="Security">
                            <file-security [documentId]="documentId"></file-security>
                        </mat-tab>
                    </mat-tab-group>
                    <!--    </div>-->

                </div>

                <div fxLayout="column" fxLayoutAlign="start start" style="width: 100%">
                    <div fxLayout="row" fxLayoutAlign="center center" style="margin-right: 20px; width: 100%">
                        <div>
                            <mat-icon
                                    [ngClass]="{'cursor-pointer': !currentVersionIsFirst(),
                                    'disabledIcon': currentVersionIsFirst()}"
                                    (click)="handleVersionPreviewNextOrPrev(-1)">
                                navigate_before
                            </mat-icon>
                        </div>
                        <div style="text-align: center">{{previewTitle}}</div>
                        <div>
                            <mat-icon
                                    [ngClass]="{'cursor-pointer': !currentVersionIsLast(),
                                    'disabledIcon': currentVersionIsLast()}"
                                    (click)="handleVersionPreviewNextOrPrev(1)">
                                navigate_next
                            </mat-icon>
                        </div>
                    </div>
                    <div style="width: 96%">
                        <file-preview
                                [documentId]="documentId"
                                [documentExtension]="document.extension"
                                [documentVersionId]="currentVersionId"
                        ></file-preview>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

