.example-tree-progress-bar {
  margin-left: 30px;
}

.actionsButtonDiv {
  width: 192px;
}

.paginatorBrowseComponent {
  width: 428px;
}

.inlineDiv {
  display: inline-block;
}

.icon-active {
  color: rgba(0, 0, 0, 0.56);
  cursor: pointer;
}

.icon-inactive {
  color: rgba(0, 0, 0, 0.26);
}
