.kimios-browse-tree {

  .tree-node-loading .toggle-children {
    z-index: 1;
    background-image: url('assets_kimios/images/loader.gif');
  }

  .node-content-wrapper {
    margin-top: auto;
    margin-bottom: auto;
  }

  .node-wrapper {
    height: 40px;
  }
}
