<p>
  container-entity-creation-dialog works!
  we will create now a container entity which is a: {{data.entityType}}
</p>
<div fxLayout="row">
    <file-security
            [documentId]="undefined"
            [showFormButtons]="false"
            cdkDropList
            [id]="'selectedUsersAndGroups'"
            [cdkDropListConnectedTo]="[userListId, groupListId]"
            (cdkDropListDropped)="drop($event)"
            (cdkDropListEntered)="dropListEnter($event)"
            (cdkDropListEntered)="dropListExited($event)"
    ></file-security>

  <users-groups-search-panel
          [cdkDropListConnectedTo_var]="'selectedUsersAndGroups'"
          [userListId]="userListId"
          [groupListId]="groupListId">
  </users-groups-search-panel>
</div>
<div fxLayout="row" fxLayoutAlign="center center" mat-dialog-actions>
    <button mat-button (click)="submit($event)"><mat-icon>check</mat-icon></button>
    <button mat-button (click)="cancel($event)"><mat-icon>cancel</mat-icon></button>
</div>
