<div fxLayout="column" fxLayoutAlign="start space-between">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>Create {{data.entityType}}</div>
        <ng-container *ngIf="data.entityType === 'folder'">
            <div *ngIf="parentEntity$ | async">
                at path: {{parentEntity.path}}
            </div>
        </ng-container>
    </div>
    <div>
        <form (ngSubmit)="submit()" [formGroup]="entityCreationForm">
            <div fxLayout="column" fxLayoutAlign="start space-between">
                <mat-form-field ngDefaultControl [formControl]="entityCreationForm.get('name')" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <file-security
                [documentId]="undefined"
                [showButtonForSearchUsersAndGroups]="false"
                [showFormButtons]="false"
                cdkDropList
                [id]="'selectedUsersAndGroups'"
                [cdkDropListConnectedTo]="[userListId, groupListId]"
                (cdkDropListDropped)="drop($event)"
                (cdkDropListEntered)="dropListEnter($event)"
                (cdkDropListEntered)="dropListExited($event)"
                style="width: 48%"
        ></file-security>

        <users-groups-search-panel
                [cdkDropListConnectedTo_var]="'selectedUsersAndGroups'"
                [userListId]="userListId"
                [groupListId]="groupListId"
                style="width: 48%"
        >
        </users-groups-search-panel>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" mat-dialog-actions>
        <button mat-button (click)="submit()"><mat-icon>check</mat-icon></button>
        <button mat-button (click)="cancel()"><mat-icon>cancel</mat-icon></button>
    </div>
</div>
