<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start start">
        <div>
            Create {{data.entityType}}
            <ng-container *ngIf="data.entityType === 'folder'">
                <span *ngIf="parentEntity$ | async">
                    at path: <entity-path [entityPath]="parentEntity.path"></entity-path>
                </span>
            </ng-container>
        </div>
    </div>
    <div>
        <form (ngSubmit)="submit()" [formGroup]="entityCreationForm">
            <div fxLayout="column" fxLayoutAlign="start space-between">
                <mat-form-field ngDefaultControl [formControl]="entityCreationForm.get('name')">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </form>
    </div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Entity security</mat-panel-title>
            <mat-panel-description>open to configure entity's access rights</mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <file-security
                    [documentId]="undefined"
                    [showButtonForSearchUsersAndGroups]="false"
                    [showFormButtons]="false"
                    [showSpinner]="false"
                    [inDialogComponent]="true"
                    cdkDropList
                    [id]="'selectedUsersAndGroups'"
                    [cdkDropListConnectedTo]="[userListId, groupListId]"
                    (cdkDropListDropped)="drop($event)"
                    (cdkDropListEntered)="dropListEnter($event)"
                    (cdkDropListEntered)="dropListExited($event)"
                    style="width: 48%"
            ></file-security>

            <mat-divider #divider [vertical]="true"></mat-divider>

            <users-groups-search-panel
                    [cdkDropListConnectedTo_var]="'selectedUsersAndGroups'"
                    [userListId]="userListId"
                    [groupListId]="groupListId"
                    style="width: 48%"
                    [mode]="'containerEntityCreation'"
            >
            </users-groups-search-panel>
        </div>
    </mat-expansion-panel>
    <div fxLayout="row" fxLayoutAlign="center center" mat-dialog-actions>
        <button mat-button (click)="submit()"><mat-icon>check</mat-icon></button>
        <button mat-button (click)="cancel()"><mat-icon>cancel</mat-icon></button>
    </div>
</div>
