<div *ngIf="showComponent" >
  <div class="cut-text" title="{{messageDisplayed}}">
      <span *ngIf="uploadStatus == 'done'"><mat-icon>done</mat-icon></span>
            {{messageDisplayed}}
  </div>
<!--    <div *ngIf="showProgressBar">-->
        <mat-progress-bar
                *ngIf="showProgressBar"
                [color]="color"
                [mode]="mode"
                [value]="value"
                [bufferValue]="bufferValue">
        </mat-progress-bar>
<!--    </div>-->
</div>
