<div fxLayout="column" fxLayoutGap="5px">

  <div *ngIf="modeIsDomain() || edit">
    <div fxFlex="70">
    <form (ngSubmit)="filterData()">
      <mat-form-field style="width: 90%;">
        <input #inputDataSearch type="text" name="inputFilename" matInput aria-label="Tags" [formControl]="dataSearch"
               [matAutocomplete]="autoDataSearch" placeholder="login or name">
        <button mat-button (click)="filterData()" >
          <mat-icon>search</mat-icon>
        </button>
        <mat-autocomplete #autoDataSearch="matAutocomplete" fxFlex="40" [displayWith]="displayFn">
          <mat-option *ngFor="let group of filteredData$ | async" placeholder="File name" value=""
                      (click)="showGroup(group)" >
            <span>{{group.name}}, {{group.gid}})</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    </div>

    <div>
      <button *ngIf="modeIsDomain()" (click)="showGroup(null)"><mat-icon>add</mat-icon></button>
    </div>

  </div>

  <form [formGroup]="userGroups">

  <mat-table [dataSource]="dataSource"
             matSort
             matSortActive="{{sort.name}}"
             matSortDirection="{{sort.direction}}"
             matSortDisableClear
             (matSortChange)="sortData($event)">


    <!-- remove Column -->
    <ng-container *ngIf="!modeIsDomain()" matColumnDef="remove">
      <mat-header-cell *matHeaderCellDef>

      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon [ngClass]="'cursor-pointer'" (click)="removeFromData(row)" >remove</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container
            *ngFor="let col of columnsDescription"
            matColumnDef="{{col.matColumnDef}}"
            sticky="{{col.sticky}}">
      <mat-header-cell
              *matHeaderCellDef
              mat-sort-header="{{col.matColumnDef}}"
      > {{col.displayName}} </mat-header-cell>
      <mat-cell *matCellDef="let element" [class.cursor-pointer]="true">
        <span *ngIf="col.id != 'icon'">{{ col.cell ? col.cell(element) : element[col.matColumnDef]}}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="showGroup(row)" >
      <ng-container *ngIf="!modeIsDomain() && this.userGroups.get(row.uid) != null" [formControlName]="row.uid"></ng-container>
    </mat-row>

  </mat-table>

    <div *ngIf="mode === 'user' && edit"
         fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="20px"
         fxFill
         style="margin-top: 20px !important;">
      <div [class.kimios-button]="true"
           [class.kimios-green]="true"
           [class.inactive]="true"
           fxLayout="row"
           fxLayoutAlign="center center"
           matDialogClose
           (click)="close()" >
        <span [class.kimios-button-text]="true">CANCEL</span>
      </div>
      <div *ngIf="!showSpinnerFormSubmit; else spinner"
           [class.kimios-button]="true"
           [class.kimios-green]="true"
           [class.active]="true"
           fxLayout="row"
           fxLayoutAlign="center center"
           (click)="onSubmit()">
        <span class="kimios-button-text">SAVE</span>
      </div>
      <ng-template #spinner>
        <div style="width: 120px" fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner diameter="30"></mat-spinner>
        </div>
      </ng-template>
    </div>

  </form>

  <mat-paginator *ngIf="modeIsDomain()"
          [length]="totalNbElements"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageOptions"
          (page)="handlePageEvent($event)">
  </mat-paginator>

</div>
