<div fxLayout="row" fxLayoutAlign="start start">

  <div fxFlex="30" fxLayout="column">
    <table>
      <tr *ngFor="let domain of domains$ | async"
          (click)="loadDomain(domain.name)"
          class="cursor-pointer"
      >
        <td>{{domain.name}}</td>
      </tr>
    </table>
  </div>

  <div fxFlexFill fxLayout="column">
    <ng-container *ngIf="authenticationSource$ | async as authenticationSource">
      <table>
        <tr>
          <td>Domain name</td>
          <td>{{authenticationSource.name}}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>
            <mat-select name="type" [value]="authenticationSource.className">
              <mat-option
                      *ngFor="let type of availableTypes$ | async"
                      [value]="type"
              >
                {{type}}
              </mat-option>
            </mat-select>
          </td>
        </tr>
        <tr>
          <td>enableMailCheck</td>
          <td>
            <mat-checkbox
                    value="{{authenticationSource.enableMailCheck}}"
                    name="enableMailCheck"
            >
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>enableSso</td>
          <td>
            <mat-checkbox
                    value="{{authenticationSource.enableSso}}"
                    name="enableSso"
            >
            </mat-checkbox>
          </td>
        </tr>
      </table>
    </ng-container>
  </div>

</div>
