<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" id="admin-domains-container">

    <div fxFlex="30" fxLayout="column">
        <div *ngFor="let domain of domains$ | async"
             (click)="loadDomain(domain.name)"
             class="cursor-pointer"
        >
            <span>{{domain.name}}</span>
        </div>
    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="5px">
        <ng-container *ngIf="authenticationSource$ | async as authenticationSource">
            <div fxLayout="column" [ngClass]="'domain-form-div'">
                <div [ngClass]="'talign-right'">Domain name: </div>
                <div [ngClass]="'talign-right'">Type: </div>
                <div [ngClass]="'talign-right'">Enable Auth By Email: </div>
                <div [ngClass]="'talign-right'">Enable SSO: </div>
            </div>
            <div fxLayout="column" fxFlex [ngClass]="'domain-form-div'">
                <div>{{authenticationSource.name}}</div>
                <div>
                    <mat-select [(value)]="authenticationSource.className">
                        <mat-option
                            *ngFor="let type of availableTypes$ | async"
                            value="{{type}}"
                        >
                            {{type}}
                        </mat-option>
                    </mat-select>
                </div>
                <div>
                    <mat-checkbox
                        value="{{authenticationSource.enableMailCheck}}"
                        name="enableMailCheck"
                    >
                    </mat-checkbox>
                </div>
                <div>
                    <mat-checkbox
                        value="{{authenticationSource.enableSso}}"
                        name="enableSso"
                    >
                    </mat-checkbox>
                </div>
            </div>
        </ng-container>
    </div>

</div>
