<form  [formGroup]="groupForm" (ngSubmit)="onSubmit()">

  <div fxLayout="column" >
    <div>
      <span *ngIf="group; else gidInput">{{group.gid}}@{{group.source}}</span>
      <ng-template #gidInput>
        <mat-form-field>
          <mat-label>uid</mat-label>
          <input matInput [formControlName]="'gid'">
          <span matSuffix>@{{source}}</span>
        </mat-form-field>
      </ng-template>
    </div>

    <mat-form-field>
      <mat-label>name</mat-label>
      <input matInput [formControlName]="'name'">
    </mat-form-field>

    <admin-domains-users [groupGid]="group.gid" [_mode]="'groupUsers'"></admin-domains-users>

    <div fxLayout="row">
      <div fxLayout="row"
           fxLayoutAlign="center center"
           fxLayoutGap="20px"
           fxFill
           style="margin-top: 20px !important;">
        <div [class.kimios-button]="true"
             [class.kimios-green]="true"
             [class.discreet]="true"
             fxLayout="row"
             fxLayoutAlign="center center"
             matDialogClose
             (click)="close()" >
          <span [class.kimios-button-text]="true">CANCEL</span>
        </div>
        <div *ngIf="!showSpinnerFormSubmit; else spinner"
             [class.kimios-button]="true"
             [class.kimios-green]="true"
             [class.highlight]="true"
             fxLayout="row"
             fxLayoutAlign="center center"
             (click)="onSubmit()">
          <span class="kimios-button-text">SAVE GROUP</span>
        </div>
        <ng-template #spinner>
          <div style="width: 120px" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner diameter="30"></mat-spinner>
          </div>
        </ng-template>
      </div>
    </div>

  </div>

</form>
