<mat-list id="versionList">
  <mat-list-item
          *ngFor="let version of versionList"
          [ngClass]="{'selected' : version.uid === currentVersionId}"
          (click)="handleVersionPreview(version.uid)"
          class="cursor-pointer">
    <mat-icon id="downloadVersion" mat-list-icon class="cursor-pointer"
              (click)="handleVersionDownload(version.uid)">
      cloud_download
    </mat-icon>
    <mat-icon mat-list-icon>
      visibility
    </mat-icon>
    <p mat-line> {{version.creationDate | date}}, by {{version.author}} </p>
  </mat-list-item>
</mat-list>
