<h3 mat-dialog-title>{{dialogTitle}}</h3>
<mat-dialog-content>
    <browse-tree-simple [mode]="browseTreeMode" [entityId]="entityId" ></browse-tree-simple>
</mat-dialog-content>
<mat-dialog-actions>
    <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" [ngClass]="'button-box'">
        <button [ngClass]="'kimios-button discreet'"
                fxLayout="row"
                fxLayoutAlign="center center"
                [mat-dialog-close]="false" >
            <span [class.kimios-button-text]="true">CANCEL</span>
        </button>
        <button [ngClass]="'kimios-button highlight'"
             fxLayout="row"
             fxLayoutAlign="center center"
             [mat-dialog-close]="true"
             cdkFocusInitial >
            <span [class.kimios-button-text]="true">SAVE</span>
        </button>
    </div>
</mat-dialog-actions>
