<tree-root [nodes]="nodes" #tree class="kimios-browse-tree"
           (toggleExpanded)="onToggleExpanded($event)"
           [focused]="true"
           (focus)="onFocus($event)"
           [options]="treeOptions"
           (drop)="handleDrop($event)">
  <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
    <div class="node-wrapper"
         [style.padding-left]="node.getNodePadding()"
         [attr.data-nodeuid]="node.uid"
    >
      <div style="margin-top: 0;">
        <ng-container *ngIf="node.data.isLoading; else notLoading">
          <mat-progress-spinner
                  mode="indeterminate"
                  diameter="20"></mat-progress-spinner>
        </ng-container>
        <ng-template #notLoading>
          <div [ngClass]="{'kimios-invisible' : (node.data.children === null
                || node.data.children === undefined
                || node.data.children.length === 0)}" >
            <button mat-icon-button
                    [attr.aria-label]="'toggle ' + node.name"
                    (click)="node.toggleExpanded()"
            class="kimios-tree-button-expand">
              <mat-icon class="mat-icon-rtl-mirror">
                {{tree.treeModel.expandedNodeIds[node.id] !== null
              && tree.treeModel.expandedNodeIds[node.id] !== undefined
              && tree.treeModel.expandedNodeIds[node.id] === true ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
          </div>
        </ng-template>
      </div>
      <div class="node-content-wrapper"
           [class.node-content-wrapper-active]="node.isActive"
           [class.node-content-wrapper-focused]="node.isFocused"
           (click)="selectNode(node.id)"
           (dblclick)="node.mouseAction('dblClick', $event)"
           (contextmenu)="node.mouseAction('contextMenu', $event)"
           (treeDrop)="node.onDrop($event)"
           [treeAllowDrop]="node.allowDrop"
           [treeDrag]="node"
           [treeDragEnabled]="true">
        <div fxLayoutAlign="space-between center" fxLayout="row" fxLayoutGap="15px">
          <div>
            <tree-node-content [node]="node" [index]="index"></tree-node-content>
          </div>
          <div class="treenode-icon-more">
            <mat-icon (click)="openEntityData(node.id)">more_horiz</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <tree-node-children [node]="node" [templates]="templates">
    </tree-node-children>
  </ng-template>

  <!--<ng-template #treeNodeFullTemplate
               let-node
               let-index="index"
               let-templates="templates">
    <div
            [class]="node.getClass()"
            [class.tree-node]="true"
            [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
            [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
            [class.tree-node-leaf]="node.isLeaf"
            [class.tree-node-active]="node.isActive"
            [class.tree-node-focused]="node.isFocused">

      <tree-node-drop-slot
              *ngIf="index === 0"
              [dropIndex]="node.index"
              [node]="node.parent">
      </tree-node-drop-slot>

      <tree-node-wrapper [node]="node" [index]="index" [templates]="templates">
      </tree-node-wrapper>

      <tree-node-children [node]="node" [templates]="templates">
      </tree-node-children>
      <tree-node-drop-slot [dropIndex]="node.index + 1" [node]="node.parent">
      </tree-node-drop-slot>
    </div>
  </ng-template>-->

</tree-root>
