<div class="file-tab-content-wrapper">
  <div class="file-tab-content">

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">

  <div fxLayout="column" fxLayoutAlign="start">
    <button mat-button mat-icon-button aria-label="Create document type"
            (click)="handleCreateDocumentType()">
      <mat-icon>add</mat-icon>
    </button>
    <div>
      <mat-list>
        <mat-list-item *ngFor="let docType of docTypes$ | async"
                       [ngClass]="{'cursor-pointer' : true}"
        >
          <div fxFill fxLayout="row" fxLayoutAlign="start stretch" (click)="selectDocType(docType)"
               fxLayoutGap="10px" >
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-button mat-icon-button aria-label="Remove meta feed"
                      (click)="removeDocumentType(docType.uid)"
                      [ngClass]="{'kimios-remove' : true}" >
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" [ngClass]="{'kimios-selection-item': true,
                               'selected-item' : docType.uid === adminService.selectedDocumentType$.getValue()}">
              <div>{{docType.name}}</div>
            </div>
          </div>
        </mat-list-item>
      </mat-list>

    </div>
  </div>
  <mat-divider #divider [vertical]="true"></mat-divider>
  <div fxFlex *ngIf="adminService.selectedDocumentType$.getValue() !== 0
  || adminService.newDocumentType$.getValue() === true else noDocTypeSelectedOrInCreation;">
    <studio-document-type-admin></studio-document-type-admin>
  </div>
  <ng-template #noDocTypeSelectedOrInCreation>
    <div style="width: 100%; min-width: 300px" fxLayout="row" fxLayoutAlign="center">
      <p style="font-style: italic;">Choose a document type or create one</p>
    </div>
  </ng-template>


</div>

  </div>
</div>
