mat-list {
  width: 100%;
}


studio-document-type-admin {
  // padding-top: 8px;
  // min-width: 500px;
  // display: inline-block;
}

/*mat-list-item div {
  margin-left: 10px;

  span {
    vertical-align: middle;
    display: inline-block;
  }
}*/
