<form [formGroup]="formGroup" *ngIf="formGroup.get('metaFeedName') != null" [ngClass]="'kimios-section-content'">

  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">

  <mat-form-field [ngClass]="'studio-meta-feed-form-field'">
    <mat-label>Document type name</mat-label>
    <input
            matInput
            type="text"
            name="metaFeedName"
            [formControlName]="'metaFeedName'"
            aria-label="Meta feed name" >
  </mat-form-field>

  <mat-form-field [ngClass]="'studio-meta-feed-form-field'">
    <mat-select
            placeholder="Java class name"
            [formControlName]="'metaFeedJavaClassName'"
    >
<!--
      (selectionChange)="onSelectDocumentTypeInheritedChange($event.value)"
      (closed)="onPanelClose()"
-->
      <!--<input matInput
             [formControlName]="'filterControl_javaClassName'"
             type="text"
             name="filter-options"
             id="filter-options"
             placeholder="Search"

      >-->
<!--      (input)="inputDocumentTypeInherited()"-->
      <mat-option *ngFor="let javaClassName of filteredJavaClassNames$ | async"
                  [value]="javaClassName">
        {{javaClassName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-table [ngClass]="{'hidden': !metaFeedHasValues}"
          [dataSource]="metaFeedValuesDataSource"
             [formGroupName]="'metaFeedValues'" >

    <!-- remove Column -->
    <ng-container matColumnDef="remove">
      <mat-header-cell *matHeaderCellDef [ngClass]="'mat-column-width50'">
        <button mat-icon-button aria-label="add enumeration value"
                (click)="addValue()"
                [ngClass]="{'kimios-remove' : true}" >
          <mat-icon [ngClass]="'cursor-pointer'"  >add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'mat-column-width50'">
        <button mat-icon-button aria-label="Remove meta feed enumeration value"
                (click)="removeValue(row)"
                [ngClass]="{'kimios-remove' : true}" >
          <mat-icon [ngClass]="'cursor-pointer remove'" >remove</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!--<ng-container
            *ngFor="let col of columnsDescription"
            matColumnDef="{{col.matColumnDef}}"
            sticky="{{col.sticky}}">
      <mat-header-cell
              *matHeaderCellDef
              mat-sort-header="{{col.matColumnDef}}"
              [disabled]="col.matColumnDef === 'mandatory'"
      > {{col.displayName}} </mat-header-cell>
      <mat-cell *matCellDef="let element" [class.cursor-pointer]="true">
        <span *ngIf="col.id != 'icon'">{{ col.cell ? col.cell(element) : element[col.matColumnDef]}}</span>
      </mat-cell>
    </ng-container>-->

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
      <mat-cell *matCellDef="let element;" >
        <mat-form-field>
          <input #metaFeedValueInput="matInput"
                 id="{{element.id}}"
                  matInput
                  type="text"
                  name="metaFeedValue"
                  aria-label="Meta feed value"
                  [formControlName]="element.id">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

  </mat-table>

  <ng-container *ngIf="metaFeedHasValues && metaFeedValuesDataSource.connect() | async as dataSourceConnection">
    <div *ngIf="dataSourceConnection.length === 0" style="width: 100%" fxLayout="row" fxLayoutAlign="center"
         [ngClass]="'kimios-section-content'">
      <p style="font-style: italic;">no items</p>
    </div>
  </ng-container>

  <div  fxLayout="row" fxLayoutAlign="center center">
    <button mat-button (click)="submit()"><mat-icon>check</mat-icon></button>
    <button mat-button (click)="cancel()"><mat-icon>cancel</mat-icon></button>
  </div>

  </div>

</form>
