<form [formGroup]="formGroup" *ngIf="formGroup.get('documentTypeName') != null" [ngClass]="'kimios-section-content'">
  <mat-form-field [ngClass]="'center'">
    <mat-label>Document type name</mat-label>
    <input
            matInput
            type="text"
            name="documentTypeName"
            [formControlName]="'documentTypeName'"
            aria-label="Document type name" >
  </mat-form-field>

  <mat-form-field [ngClass]="'center'">
    <mat-select
            placeholder="Inherited document type"
            [formControlName]="'inheritedDocumentType'"
            (selectionChange)="onSelectDocumentTypeInheritedChange($event.value)"
            (closed)="onPanelClose()"
    >
      <input matInput
             [formControlName]="'filterControl_inheritedDocumentType'"
             type="text"
             name="filter-options"
             id="filter-options"
             placeholder="Search"
             (input)="inputDocumentTypeInherited()"
      >
      <mat-option *ngFor="let documentType of filteredDocumentTypes$ | async"
                  [value]="documentType">
        {{documentType.name}}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="formGroup.get('inheritedDocumentType').value" matSuffix mat-icon-button aria-label="Clear"
            (click)="resetDocumentTypeInheritedValue()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-table [dataSource]="metaDataSource"
             matSort
             matSortActive="{{sort.name}}"
             matSortDirection="{{sort.direction}}"
             matSortDisableClear
             (matSortChange)="sortData($event)"
             [formGroupName]="'documentTypeMetas'" >

    <!-- remove Column -->
    <ng-container matColumnDef="remove">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon [ngClass]="'cursor-pointer'" (click)="addMetaData()" >add</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon [ngClass]="'cursor-pointer'" (click)="removeMetaData(row)" >remove</mat-icon>
      </mat-cell>
    </ng-container>

    <!--<ng-container
            *ngFor="let col of columnsDescription"
            matColumnDef="{{col.matColumnDef}}"
            sticky="{{col.sticky}}">
      <mat-header-cell
              *matHeaderCellDef
              mat-sort-header="{{col.matColumnDef}}"
              [disabled]="col.matColumnDef === 'mandatory'"
      > {{col.displayName}} </mat-header-cell>
      <mat-cell *matCellDef="let element" [class.cursor-pointer]="true">
        <span *ngIf="col.id != 'icon'">{{ col.cell ? col.cell(element) : element[col.matColumnDef]}}</span>
      </mat-cell>
    </ng-container>-->

    <ng-container matColumnDef="name" *ngIf="columnsDescription[0]; let col">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" [formGroupName]="element.uid.toString()">
        <mat-form-field>
          <input
                  matInput
                  type="text"
                  name="metaDataName"
                  [formControlName]="'metaDataName'"
                  aria-label="metadata name" >
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type" *ngIf="columnsDescription[1]; let col">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
      <mat-cell *matCellDef="let element" [formGroupName]="element.uid.toString()">
        <mat-form-field>
          <mat-select [formControl]="formGroup.get('documentTypeMetas').get(element.uid.toString()).get('metaDataType')">
            <mat-option *ngFor="let typeId of metaDataPossibleTypesKey" [value]="typeId">
              {{metaDataPossibleTypes.get(typeId)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mandatory" *ngIf="columnsDescription[2]; let col">
      <mat-header-cell *matHeaderCellDef> Mandatory </mat-header-cell>
      <mat-cell *matCellDef="let element" [formGroupName]="element.uid.toString()">
        <mat-checkbox [formControlName]="'metaDataMandatory'" [value]="element.mandatory">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

  </mat-table>

  <div  fxLayout="row" fxLayoutAlign="center center">
    <button mat-button (click)="submit()"><mat-icon>check</mat-icon></button>
    <button mat-button (click)="cancel()"><mat-icon>cancel</mat-icon></button>
  </div>

</form>
