.mat-select /deep/ .mat-select-trigger {
  min-width: 180px;
  width: 100%;
}

.mat-cell {
  padding-right: 20px;
  padding-left: 20px;
}

mat-header-cell, mat-form-field.center {
  display: flex;
  justify-content: center;
}
.studio-document-type-form-field {
  width: 300px;
}
