<div #divWrapper fxLayout="column" fxLayoutAlign="start stretch"
     [ngClass]="'kimios-section-content kimios-content-area radius'"
>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-right: 20px;">
    <div>
      <mat-icon
              [ngClass]="{'cursor-pointer': !currentVersionIsFirst(),
                                    'disabledIcon': currentVersionIsFirst()}"
              (click)="handleVersionPreviewNextOrPrev(-1)">
        navigate_before
      </mat-icon>
    </div>
    <div style="text-align: center">{{previewTitle}}</div>
    <div>
      <mat-icon
              [ngClass]="{'cursor-pointer': !currentVersionIsLast(),
                                    'disabledIcon': currentVersionIsLast()}"
              (click)="handleVersionPreviewNextOrPrev(1)">
        navigate_next
      </mat-icon>
    </div>
  </div>
  <div *ngIf="document$ | async as document" style="height: inherit;">
    <file-preview
            #filePreview
            [documentId]="document.uid"
            [documentExtension]="document.extension"
            [documentVersionId]="currentVersionId"
    ></file-preview>
  </div>
</div>
