<div fxLayout="column" fxLayoutAlign="start" style="width: 100%;" fxLayoutGap="20px">

  <div fxLayout="row"
       fxLayoutAlign="start"
       style="width: 100%;">
    <div fxFlexOffset="20px">
      <h1 class="no-margin-bottom">Search Queries</h1>
    </div>
  </div>

  <div [ngClass]="'kimios-content-area'" fxLayout="column">
    <div fxLayout="row"
         fxLayoutAlign="start"
         [ngClass]="'kimios-search-queries-form'"
    >
      <search-form></search-form>
    </div>
    <div>
      <mat-paginator
              [length]="totalFilesFound$ | async"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="paginatorHandler($event)"
              [pageIndex]="pageIndex"
              showFirstLastButtons>
      </mat-paginator>
      <mat-divider></mat-divider>
    </div>
    <div>
      <file-list></file-list>
    </div>
  </div>

</div>
