<div fxLayout="column" fxLayoutAlign="start" style="width: 100%;" fxLayoutGap="20px">

  <div #kimiosContentArea [ngClass]="'kimios-content-area radius'" fxLayout="column" style="overflow-y: auto;">
    <div fxLayout="row"
         fxLayoutAlign="start"
         [ngClass]="'kimios-search-queries-form'"
    >
      <search-form [docNameSearch]="docNameSearch" ></search-form>
    </div>
    <div #paginator >
      <mat-paginator
              [length]="totalFilesFound$ | async"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="paginatorHandler($event)"
              [pageIndex]="pageIndex"
              showFirstLastButtons>
      </mat-paginator>
      <mat-divider></mat-divider>
    </div>
    <div #fileListContainer style="overflow-y: auto;">
      <file-list></file-list>
    </div>
  </div>

</div>
