<table id="table">

  <tr>
    <td class="talign-right data-title">Document Id:</td>
    <td>{{document.uid}}</td>
  </tr>
  <tr>
    <td class="talign-right data-title">Document name:</td>
    <td>{{document.name}}</td>
  </tr>
  <tr>
    <td class="talign-right data-title">Document extension:</td>
    <td>{{document.extension ? '.' + document.extension : ''}}</td>
  </tr>
  <!--<tr>
    <td class="talign-right data-title">Type:</td>
    <td>{{document.mimeType}}</td>
  </tr>-->
  <tr>
    <td class="talign-right data-title">Document type:</td>
    <td>{{document.documentTypeName}}</td>
  </tr>
  <tr>
    <td class="talign-right data-title">Size:</td>
    <td>{{document.length | fileSize}}</td>
  </tr>
  <tr>
    <td class="talign-right data-title">Owner:</td>
    <td>{{document.owner + '@' + document.ownerSource}}</td>
  </tr>
  <tr>
    <td class="talign-right data-title">Creation date:</td>
    <td>{{document.creationDate | date}}</td>
  </tr>
  <tr>
    <td class="talign-right data-title">Last modification date:</td>
    <td>{{document.versionUpdateDate | date}}</td>
  </tr>

</table>
