@import "kimios-global";

@mixin file-manager-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);
    $warn: map-get($theme, warn);

    file-list {

        .mat-table {

            .mat-row {

                /*&.selected {
                    @if ($is-dark) {
                        background: map-get($background, hover);
                    } @else {
                        background: map-get($accent, 50);
                    }
                }*/
            }
        }
    }

    fuse-nav-vertical-item {
        a.nav-link.accent {
            span.nav-link-title, mat-icon.nav-link-icon {
//                color: $kimios-green;
            }
//            background-color: $kimios-navbar-background-color !important;
        }
    }

    .nav .nav-item .nav-link {

        padding-left: 8px !important;

        .nav-link-icon {
            font-size: 24px;
            width: 24px;
            height: 24px;
            min-width: 24px;
            max-width: 24px;
            min-width: 24px;
            min-height: 24px;
            line-height: 24px;
        }
    }

    app {
//        background-color: $kimios-app-background-color;
    }

    #kimios_site_link {
        color: map-get($accent, 500);
    }

    .external_link {
//        color: $kimios-app-default-font-color;
    }

    navbar {
        .navbar-scroll-container {
            background: initial;
        }
    }

    fuse-sidebar.left-positioned {
//        background-color: $kimios-navbar-background-color;
//        box-shadow: none;
        min-width: 200px;
        max-width: 200px;
        width: 200px;
    }

    .mat-toolbar {
//        box-shadow: none;
//        background-color: map-get($background, background);
    }

    .kimios-button {
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        height: 40px !important;
        min-width: 120px;
        border-color: map-get($accent, 500);

        @extend .cursor-pointer;

        &.highlight {
            background-color: map-get($accent, 500);

            span.kimios-button-text {
                color: #F5F5F5;
            }
        }

        &.discreet {
            border-color: transparent;
            span.kimios-button-text {
                color: map-get($accent, 500);
            }
        }
        span.kimios-button-text {
            margin-left: 20px;
            margin-right: 20px;
            font-weight: bold;
        }

        &:hover {
            background-color: map-get($accent, 500);
            border-color: map-get($accent, 500);
            span.kimios-button-text {
                color: #F5F5F5;
            }
        }
    }

    .button-box {
        margin-top: 20px;
    }

    .kimios-dialog .mat-dialog-container {
        padding: 15px;
        border-radius: 10px;
        // border-color: $kimios-dark-grey;
        border-width: 1px;
        border-style: solid;
        box-shadow: none;
        overflow-x: hidden;
    }

    .mat-ink-bar {
        background-color: map-get($accent, 500) !important;
    }

    .mat-tab-label-active {
        background-color: map-get($background, card);

        .mat-tab-label-content {
            color: map-get($accent, 500);
            font-weight: bolder;
        }
    }

    .talign-right {
        text-align: right;
    }

    .selected-item {
        /*color: $kimios-green;
        div {
            color: $kimios-green;
        }
        background: mat-color($background, 'card');*/
        background-color: map-get($accent, 500);
    }

    mat-row.selected {
        background-color: map-get($accent, 500);
    }

    mat-row:hover {
        background-color: map-get($accent, 500);
    }

    /*mat-list-item:hover {
        background-color: map-get($accent, 500);
    }*/

/*    mat-footer-row, mat-header-row, mat-row {
        border-bottom-width: 10px;
        border-bottom-color: #2E7D32;
        border-bottom-style: solid;
    }*/

    .node-content-wrapper-focused, .node-content-wrapper:hover, .browse-path.focused, .browse-path:hover {
        background-color: map-get($accent, 500);
        box-shadow: inset 0 0 0px #999;
        border-radius: 20px 20px 20px 20px;
    }

    .browse-path {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .spinner-wrapper {
        display: flex;
        justify-content: center;
        justify-items: center;
        height: 100%;
    }

    .overlay {
        position: absolute;
        z-index: 1002;
        // background-color: rgba(255, 255, 255, 0.5);
        top: 0;
        height:100%;
        width:100%;
        opacity: 0.7;
        background-color: map-get($background, background);
    }

    .spinnerMarginAuto {
        margin: auto;
    }

    #treeAndGridRow {
        background-color: map-get($background, card);
    }

    .cartContainer {
        background-color: map-get($background, card);
        padding-top: 20px;
        height: 100%;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .cartContainerWrapper {
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .kimios-section-content {
        background: mat-color($background, 'card');
    }

    .kimios-content-area {
        // border-radius: 10px;
        padding: 10px;
    }

    .w50 {
        width: 50px;
    }

    .mw100 {
        max-width: 100px;
    }

    .disabled-tree-expander {
        color: mat-color($background, 'unselected-chip');
    }

    .file-icon-list {
        margin-right: 5px;
    }

    .mat-row {
        height: auto;
    }

    .mat-cell {
        padding: 5px 5px 5px 10px;
    }

    .mat-header-row.kimios-first-of-several-headers {
        border-top-color: mat-color($foreground, divider);
        border-top-width: 1px;
        border-top-style: solid;
        border-bottom-width: unset;
        border-bottom-style: unset;
        min-height: 40px;

        .mat-header-cell {
            height: 40px;
        }
    }

    button:hover {
        &.kimios-remove {
            color: map-get($warn, 400);
        }
        &.kimios-green {
            background-color: map-get($accent, 500);
        }
    }

    .kimios-selection-item {
        border-radius: 10px;
        padding: 10px;
    }

    .kimios-selection-item:hover {
        background-color: map-get($accent, 500);
    }

    .kimios-width-max-content {
        width: max-content;
    }

    .dropArea {
        border-width: 1px;
        border-radius: 8px;
        border-style: solid;
        border-color: rgba(map-get($foreground, text), 0.75);
        padding: 5px;
    }

    .dropAreaHeader {
        color: rgba(map-get($foreground, text), 0.75);
    }

    mat-list-item.user-group-added-to-list {
        border-width: 2px;
        border-radius: 8px;
        border-style: solid;
        border-color: rgba(0,0,0, 0);
        cursor: pointer;
    }

    mat-list-item.user-group-added-to-list:hover {
        border-color: rgba(map-get($foreground, text), 0.75);
    }

    mat-list-item.item-to-be-selected:hover {
        border-color: rgba(map-get($foreground, text), 0.75);
        cursor: pointer;
    }

    button.remove-from-selection-list {
        position: absolute;
        right: 0;
        background-color: map-get($warn, 400);
    }

    button.add-to-selection-list {
        background-color: map-get($accent, 500);
        margin-right: 5px;
        visibility: hidden;
    }

    button.add-to-selection-list.visible {
        visibility: visible;
    }

    table, tr, td {
        // border-color: rgba(255, 255, 255, 0.4);
        border-color: rgba(map-get($foreground, text), 0.12);
    }

    .data-tab-content {
        background: mat-color($background, 'card');
    }

    .file-tab-content-wrapper {
        padding: 20px;
    }

    .file-tab-content {
        background: mat-color($background, 'card');
        padding: 20px;
        border-radius: 10px;
    }

    .file-tab-content.fit {
        width: fit-content;
    }

    .file-tab-content.with-list {
        width: available;
    }

    .file-preview-tab-content {
        background: mat-color($background, 'card');
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .mat-column-width100 {
        max-width: 100px !important;
    }

    .mat-column-width50 {
        max-width: 50px !important;
    }

    .mat-column-width200 {
        min-width: 200px !important;
    }

    fuse-sidebar {
        min-width: 400px;
        max-width: 400px;
        width: 400px;
    }

    quick-panel {
        min-width: 400px;
        max-width: 400px;
        width: 400px;
    }
}
