<div id="file-manager" class="page-layout simple right-sidebar inner-scroll"
     (drop)="handleDrop($event)"
     (dragover)="handleDragOver($event)"
>

    <!-- SIDEBAR
    <fuse-sidebar class="sidebar main-sidebar" name="file-manager-main-sidebar" position="left">
        <file-manager-main-sidebar></file-manager-main-sidebar>
    </fuse-sidebar>-->
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fxFlex>

        <div fxLayout="row" fxLayoutAlign="space-between center">
            <!-- ADD FILE BUTTON -->
            <div class="file-uploader" div fxLayout="row" style="padding:20px">
                <form (ngSubmit)="onSubmitFileUpload()">
                    <input hidden type="file" #fileInput (change)="handleFileInput($event.target.files)" />
                    <button mat-fab
                            color="warn"

                            (click)="fileInput.click($event.target.files)"
                            aria-label="Add file">
                        <mat-icon>add</mat-icon>
                    </button>
                </form>
            </div>
            <!-- / ADD FILE BUTTON -->

            <file-search fxFlex style="padding:20px" ></file-search>

        </div>
        <!-- CONTENT -->
        <div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <mat-divider></mat-divider>
        </div>
        <div class="content" fusePerfectScrollbar>
            <file-list></file-list>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDEBAR
    <fuse-sidebar class="sidebar details-sidebar" name="file-manager-details-sidebar" position="right"
                  lockedOpen="gt-md">
        <file-manager-details-sidebar></file-manager-details-sidebar>
    </fuse-sidebar>-->
    <!-- / SIDEBAR -->

</div>
