
<div>
    <ul>
        <li>
            workspace used: {{workspaceUsed ? workspaceUsed.name : 'not find'}}
        </li>
        <li>
            folder used: {{folderUsed ? folderUsed.name : 'not find'}}
        </li>
    </ul>
</div>
<br />
<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
        <ng-container
                *ngFor="let col of columnsDescription"
                matColumnDef="{{col.matColumnDef}}"
                sticky="{{col.sticky}}">
            <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="{{col.matColumnDef}}"
            > {{col.matHeaderCellDef}} </th>
            <td mat-cell *matCellDef="let element"> {{element[col.matColumnDef]}} </td>
        </ng-container>

<!--

        <ng-container matColumnDef="position" [sticky]="isSticky(stickyColumns, 'position')">
            <th mat-header-cell *matHeaderCellDef> Position </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            <td mat-footer-cell *matFooterCellDef> Position Footer </td>
        </ng-container>

        <ng-container matColumnDef="name" [sticky]="isSticky(stickyColumns, 'name')">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            <td mat-footer-cell *matFooterCellDef> Name Footer </td>
        </ng-container>

        <ng-container matColumnDef="weight" [stickyEnd]="isSticky(stickyColumns, 'weight')">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            <td mat-footer-cell *matFooterCellDef> Weight Footer </td>
        </ng-container>

        <ng-container matColumnDef="symbol" [stickyEnd]="isSticky(stickyColumns, 'symbol')">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            <td mat-footer-cell *matFooterCellDef> Symbol Footer </td>
        </ng-container>

        <ng-container matColumnDef="filler">
            <th mat-header-cell *matHeaderCellDef> Filler header cell </th>
            <td mat-cell *matCellDef="let element"> Filler data cell </td>
            <td mat-footer-cell *matFooterCellDef> Filler footer cell </td>
        </ng-container>
-->



        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
</div>
