@mixin file-manager-theme($theme) {

    $background: map-get($theme, background);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    $kimios-green: greenyellow;
    $kimios-app-background-color: lightgrey;

    file-list {

        .mat-table {

            .mat-row {

                /*&.selected {
                    @if ($is-dark) {
                        background: map-get($background, hover);
                    } @else {
                        background: map-get($accent, 50);
                    }
                }*/
            }
        }
    }

    fuse-nav-vertical-item {
        a.nav-link.accent {
            span.nav-link-title, mat-icon.nav-link-icon {
                color: $kimios-green;
            }
        }
    }

    app {
        background-color: $kimios-app-background-color;
    }
}
