<div id="file-manager" class="page-layout simple right-sidebar inner-scroll">

    <!-- SIDEBAR
    <fuse-sidebar class="sidebar main-sidebar" name="file-manager-main-sidebar" position="left">
        <file-manager-main-sidebar></file-manager-main-sidebar>
    </fuse-sidebar>-->
    <!-- / SIDEBAR -->

    <div class="center">
        <file-search-panel></file-search-panel>
    </div>

    <!-- SIDEBAR
    <fuse-sidebar class="sidebar details-sidebar" name="file-manager-details-sidebar" position="right"
                  lockedOpen="gt-md">
        <file-manager-details-sidebar></file-manager-details-sidebar>
    </fuse-sidebar>-->
    <!-- / SIDEBAR -->

</div>
