@import "kimios-global";

@mixin file-manager-theme($theme) {

    $background: map-get($theme, background);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    file-list {

        .mat-table {

            .mat-row {

                /*&.selected {
                    @if ($is-dark) {
                        background: map-get($background, hover);
                    } @else {
                        background: map-get($accent, 50);
                    }
                }*/
            }
        }
    }

    fuse-nav-vertical-item {
        a.nav-link.accent {
            span.nav-link-title, mat-icon.nav-link-icon {
//                color: $kimios-green;
            }
//            background-color: $kimios-navbar-background-color !important;
        }
    }

    app {
//        background-color: $kimios-app-background-color;
    }

    #kimios_site_link {
        color: $kimios-green;
    }

    .external_link {
//        color: $kimios-app-default-font-color;
    }

    navbar {
        .navbar-scroll-container {
            background: initial;
        }
    }

    fuse-sidebar {
//        background-color: $kimios-navbar-background-color;
//        box-shadow: none;
    }

    .mat-toolbar {
//        box-shadow: none;
//        background-color: map-get($background, background);
    }

    .kimios-button {
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        height: 40px !important;
        min-width: 120px;
        border-color: $kimios-green;

        @extend .cursor-pointer;

        &.active {
            background-color: $kimios-green;

            span.kimios-button-text {
                color: #F5F5F5;
            }
        }

        &.inactive {
            span.kimios-button-text {
                color: $kimios-green;
            }
        }
        span.kimios-button-text {
            margin-left: 20px;
            margin-right: 20px;
            font-weight: bold;
        }
    }

    .kimios-dialog .mat-dialog-container {
        padding: 15px;
        border-radius: 10px;
        // border-color: $kimios-dark-grey;
        border-width: 1px;
        border-style: solid;
        box-shadow: none;
        overflow-x: hidden;
    }

    .mat-ink-bar {
        background-color: $kimios-green !important;
    }

    .mat-tab-label-active {
        background-color: map-get($background, card);

        .mat-tab-label-content {
            color: $kimios-green;
            font-weight: bolder;
        }
    }

    .talign-right {
        text-align: right;
    }

    .selected-item {
        color: $kimios-green;
        div {
            color: $kimios-green;
        }
        background: mat-color($background, 'card');
    }

    mat-row.selected {
        background-color: map-get($accent, 500);
    }

    mat-row:hover {
        background-color: map-get($accent, 500);
    }

/*    mat-footer-row, mat-header-row, mat-row {
        border-bottom-width: 10px;
        border-bottom-color: #2E7D32;
        border-bottom-style: solid;
    }*/

    .node-content-wrapper-focused, .node-content-wrapper:hover {
        background-color: map-get($accent, 500);
        box-shadow: inset 0 0 0px #999;
        border-radius: 20px 20px 20px 20px;
    }

    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .spinner-wrapper {
        display: flex;
        justify-content: center;
        justify-items: center;
        height: 100%;
    }

    .overlay {
        position: absolute;
        z-index: 1002;
        // background-color: rgba(255, 255, 255, 0.5);
        top: 0;
        height:100%;
        width:100%;
        opacity: 0.7;
        background-color: map-get($background, background);
    }

    .spinnerMarginAuto {
        margin: auto;
    }

    #treeAndGridRow {
        background-color: map-get($background, card);
    }

    .kimios-section-content {
        background: mat-color($background, 'card');
    }

    .kimios-content-area {
        border-radius: 10px;
        padding: 10px;
    }

    .w50 {
        width: 50px;
    }

    .mw100 {
        max-width: 100px;
    }

    .disabled-tree-expander {
        color: mat-color($background, 'unselected-chip');
    }

    .file-icon-list {
        margin-right: 5px;
    }
}
