<div fxLayout="column" fxLayoutAlign="start stretch" >

<!--  <div class="cut-text" title="{{upload.documentPath}}">
    {{messageDisplayed | async}}
    <span *ngIf="uploadStatus == 'done'"><mat-icon>done</mat-icon></span>
  </div>-->
  <ng-container *ngIf="upload$ | async as uploadUpdated">
    <ng-container *ngIf="uploadUpdated !== null">

      <!--<ng-container *ngIf="uploadUpdated.isOnGoing() else successfulOrError">-->
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex>
          <p (click)="goToDoc(uploadUpdated.documentId)"
             title="{{upload.documentPath}}"
             [ngClass]="{'cursor-pointer' : uploadUpdated.isSuccessful(), 'ow-break-word' : true}"
          >
            {{upload.documentName}}
          </p>
        </div>
        <div>
          <ng-container *ngIf="uploadUpdated.isSuccessful() else error">
            <div fxLayout="row" fxFlexOffset="5px">
              <mat-icon style="margin: auto">done</mat-icon>
            </div>
          </ng-container>
          <ng-template #error>
            <div fxLayout="row" fxFlexOffset="5px">
              <mat-icon
                      style="margin: auto"
                      title="{{uploadUpdated.message}}"
                      [ngClass]="'kimios-orange'"
              >
                error
              </mat-icon>
            </div>
          </ng-template>
        </div>
      </div>
      <mat-progress-bar
              *ngIf="! uploadUpdated.isError()"
              [color]="color"
              [mode]="mode"
              value="{{uploadUpdated.percentage}}"
              [bufferValue]="bufferValue">
      </mat-progress-bar>
      <!--</ng-container>-->
    </ng-container>
  </ng-container>
</div>
