<div fxLayout="column" fxLayoutAlign="start start" >
  <div><p title="{{upload.documentPath}}">{{upload.documentName}}</p></div>
<!--  <div class="cut-text" title="{{upload.documentPath}}">
    {{messageDisplayed | async}}
    <span *ngIf="uploadStatus == 'done'"><mat-icon>done</mat-icon></span>
  </div>-->
  <ng-container *ngIf="upload$ | async as uploadUpdated">
    <ng-container *ngIf="uploadUpdated !== null">
      <ng-container *ngIf="uploadUpdated.isOnGoing() || uploadUpdated.isSuccessful()">
        <mat-progress-bar
                [color]="color"
                [mode]="mode"
                value="{{uploadUpdated.percentage}}"
                [bufferValue]="bufferValue">
        </mat-progress-bar>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
