<!--<ng-container *ngIf="users$ | async as users">-->
  <!--<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">-->

    <div fxLayout="row" fxLayoutGap="5px">
      <mat-table [dataSource]="dataSource"
                 matSort
                 matSortActive="{{sort.name}}"
                 matSortDirection="{{sort.direction}}"
                 matSortDisableClear
                 (matSortChange)="sortData($event)">

        <ng-container
                *ngFor="let col of columnsDescription"
                matColumnDef="{{col.matColumnDef}}"
                sticky="{{col.sticky}}">
          <mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header="{{col.matColumnDef}}"
          > {{col.displayName}} </mat-header-cell>
          <mat-cell *matCellDef="let element" [class.cursor-pointer]="true">
            <span *ngIf="col.id != 'icon'">{{ col.cell ? col.cell(element) : element[col.matColumnDef]}}</span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>


      </mat-table>
    </div>
  <!--</form>-->

<!--</ng-container>-->
