<ng-container *ngIf="usersLoaded$ | async as users">
  <!--<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">-->

    <div fxLayout="column" fxLayoutGap="5px">

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <ng-container *ngIf="currentUserIsAdmin$ | async as currentUserIsAdmin">
          <ng-container *ngIf="currentUserIsAdmin && (modeIsAdmin() || _mode === 'roles')">
            <div>
              <button mat-button mat-icon-button aria-label="Create user" (click)="openDialog()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </ng-container>
        </ng-container>

        <div *ngIf="modeIsAdmin()" fxFlex="70">
        <form (ngSubmit)="filterUsers()">
          <mat-form-field>
            <input #inputUserSearch type="text" name="inputFilename" matInput aria-label="Tags" [formControl]="userSearch"
                   [matAutocomplete]="autoUserSearch" placeholder="search by login or name">
            <mat-autocomplete #autoUserSearch="matAutocomplete" fxFlex="40" [displayWith]="displayFn">
              <mat-option *ngFor="let user of filteredUsers$ | async" placeholder="File name" [value]="user"
                          (click)="showUser(user)" >
                <span>{{user.lastName}}, {{user.firstName}} ({{user.uid}}@{{user.source}})</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        </div>

        <div *ngIf="_mode === 'addToRole'" fxFlex>
          <!--<ng-container *ngIf="selectedDomain$ | async as selectedDom">-->
            <mat-select
                    [formControl]="selectDomain"
            >
              <mat-option
                      *ngFor="let domain of domains$ | async"
                      [value]="domain.name"
              >
                {{domain.name}}
              </mat-option>
            </mat-select>
          <!--</ng-container>-->
        </div>


      </div>

      <form [formGroup]="usersToAddToRole" >
      <mat-table [dataSource]="dataSource"
                 matSort
                 matSortActive="{{sort.name}}"
                 matSortDirection="{{sort.direction}}"
                 matSortDisableClear
                 (matSortChange)="sortData($event)">

        <!-- remove Column -->
        <ng-container *ngIf="_mode === 'roles'" matColumnDef="remove">
          <mat-header-cell *matHeaderCellDef>

          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-icon [ngClass]="'cursor-pointer'" (click)="removeUserFromRole(row)" >remove</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container *ngIf="_mode === 'admin'" matColumnDef="remove">
          <mat-header-cell *matHeaderCellDef>

          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-icon [ngClass]="'cursor-pointer'" (click)="removeUser(row)" >remove</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container *ngIf="_mode === 'addToRole'" matColumnDef="checkbox">
          <mat-header-cell *matHeaderCellDef>

          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox [formControlName]="row.uid"></mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container
                *ngFor="let col of columnsDescription"
                matColumnDef="{{col.matColumnDef}}"
                sticky="{{col.sticky}}">
          <mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header="{{col.matColumnDef}}"
          > {{col.displayName}} </mat-header-cell>
          <mat-cell *matCellDef="let element" [class.cursor-pointer]="true">
            <span *ngIf="col.id != 'icon'">{{ col.cell ? col.cell(element) : element[col.matColumnDef]}}</span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="showUser(row)" >
        </mat-row>

      </mat-table>

      <mat-paginator *ngIf="modeIsAdmin()"
              [length]="totalNbElements"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageOptions"
              (page)="handlePageEvent($event)">
      </mat-paginator>

        <div *ngIf="_mode === 'addToRole'"
             fxLayout="row"
             fxLayoutAlign="center center"
             fxLayoutGap="20px"
             fxFill
             style="margin-top: 20px !important;">
          <div [class.kimios-button]="true"
               [class.kimios-green]="true"
               [class.inactive]="true"
               fxLayout="row"
               fxLayoutAlign="center center"
               matDialogClose
               (click)="close()" >
            <span [class.kimios-button-text]="true">CANCEL</span>
          </div>
          <div *ngIf="!showSpinnerFormSubmit; else spinner"
               [class.kimios-button]="true"
               [class.kimios-green]="true"
               [class.active]="true"
               fxLayout="row"
               fxLayoutAlign="center center"
               (click)="onSubmitAddUsers()">
            <span class="kimios-button-text">ADD {{nbUsersToAdd}} USER{{nbUsersToAdd > 1 ? 'S' : ''}}</span>
          </div>
          <ng-template #spinner>
            <div style="width: 120px" fxLayout="row" fxLayoutAlign="center center">
              <mat-spinner diameter="30"></mat-spinner>
            </div>
          </ng-template>
        </div>

      </form>

    </div>
  <!--</form>-->

</ng-container>
