<!--<ng-container *ngIf="users$ | async as users">-->
  <!--<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">-->

    <div fxLayout="column" fxLayoutGap="5px">

      <div *ngIf="modeIsAdmin()" fxLayout="row">
        <div fxFlex="70">
        <form (ngSubmit)="filterUsers()">
          <mat-form-field style="width: 90%;">
            <input #inputUserSearch type="text" name="inputFilename" matInput aria-label="Tags" [formControl]="userSearch"
                   [matAutocomplete]="autoUserSearch" placeholder="login or name">
            <button mat-button (click)="filterUsers()" >
              <mat-icon>search</mat-icon>
            </button>
            <mat-autocomplete #autoUserSearch="matAutocomplete" fxFlex="40" [displayWith]="displayFn">
              <mat-option *ngFor="let user of filteredUsers$ | async" placeholder="File name" [value]="user"
                          (click)="showUser(user)" >
                <span>{{user.lastName}}, {{user.firstName}} ({{user.uid}})</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        </div>

        <div>
          <button (click)="openNewUserDialog()"><mat-icon>add</mat-icon></button>
        </div>

      </div>

      <mat-table [dataSource]="dataSource"
                 matSort
                 matSortActive="{{sort.name}}"
                 matSortDirection="{{sort.direction}}"
                 matSortDisableClear
                 (matSortChange)="sortData($event)">

        <ng-container
                *ngFor="let col of columnsDescription"
                matColumnDef="{{col.matColumnDef}}"
                sticky="{{col.sticky}}">
          <mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header="{{col.matColumnDef}}"
          > {{col.displayName}} </mat-header-cell>
          <mat-cell *matCellDef="let element" [class.cursor-pointer]="true">
            <span *ngIf="col.id != 'icon'">{{ col.cell ? col.cell(element) : element[col.matColumnDef]}}</span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="showUser(row)" >
        </mat-row>

      </mat-table>

      <mat-paginator *ngIf="modeIsAdmin()"
              [length]="totalNbElements"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageOptions"
              (page)="handlePageEvent($event)">
      </mat-paginator>


    </div>
  <!--</form>-->

<!--</ng-container>-->
