<mat-table #table [dataSource]="dataSource" matSort
           matSort matSortActive="{{sort.name}}" matSortDirection="{{sort.direction}}" matSortDisableClear (matSortChange)="sortData($event)">

  <ng-container
          *ngFor="let col of columnsDescription"
          matColumnDef="{{col.matColumnDef}}"
          sticky="{{col.sticky}}">
    <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="{{col.matColumnDef}}"
    > {{col.displayName}} </mat-header-cell>
    <mat-cell *matCellDef="let element" [class.cursor-pointer]="true">
      <!-- display folder icon for folders and workspaces -->
      <mat-icon *ngIf="col.id == 'name' && element.type != 3" class="type-icon" fxFlex="40px">folder</mat-icon>
      <span *ngIf="col.id != 'icon'">{{ col.cell ? col.cell(element) : element[col.matColumnDef]}}</span>
      <mat-icon *ngIf="col.id == 'icon'" class="type-icon" [ngClass]="element.extension" fxFlex="64px"></mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container
          matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> <mat-icon style="margin: auto;">apps</mat-icon> </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!-- only for documents -->
      <div *ngIf="element.type === 3" fxLayout="row" fxLayoutAlign="space-between center" style="margin: auto;" fxLayoutGap="10px">
        <div><mat-icon
                title="Download document"
                (click)="handleFileDownload(element.lastVersionId)"
                [class.cursor-pointer]="true">
          get_app
        </mat-icon></div>
        <div>
          <entity-list-lock-button [docId]="element.uid"></entity-list-lock-button>
        </div>
        <div><mat-icon title="View document" [class.cursor-pointer]="true"
                       (click)="goToDocument(element)">visibility</mat-icon></div>
        <div><mat-icon [matMenuTriggerFor]="docMenu"
                       [matMenuTriggerData]="{uid: element.uid}"
                       title="See more available actions" [class.cursor-pointer]="true">more_horiz</mat-icon></div>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;"
           (dblclick)="goToDocument(row)"
           (click)="onSelect(row)"
           [ngClass]="{'selected' : row == selected}"
           matRipple
  >
  </mat-row>


</mat-table>

<mat-menu #docMenu="matMenu">
  <ng-template matMenuContent let-uid="uid">
    <button mat-menu-item><mat-icon>create_new_folder</mat-icon> Properties</button>
    <button mat-menu-item><mat-icon>history</mat-icon> Versions</button>
    <button mat-menu-item (click)="openPermissionsDialog(uid)" ><mat-icon>warning</mat-icon> Permissions</button>
    <button mat-menu-item><mat-icon>delete</mat-icon> Delete</button>
  </ng-template>
</mat-menu>
