@import "src/app/main/file-manager/kimios-global";

.mat-row:hover {
  background-color: $kimios-app-background-color;
}

.mat-row, .mat-header-row {
  border-bottom-width: 0px;
}

mat-row {
  &.selected {
    background-color: $kimios-app-background-color;
  }

  &.dragover {
    border-width: 2px;
    border-color: $kimios-green;
  }

}
