@import "src/app/main/file-manager/kimios-global";

.mat-row:hover {
  // background-color: $kimios-app-background-color;
}

mat-row {
  &.selected {
    // background-color: $kimios-app-background-color;
  }

  &.dragover {
    border-width: 2px;
    border-color: $kimios-green;
  }

}

.file-icon-browse-list {
  padding-right: 5px;
}
