<div class="wrapper" id="wrapper" #wrapper>
  <div class="overlay" *ngIf="showSpinner" id="overlay" #overlay>
    <div class="spinner-wrapper">
      <mat-spinner
              [ngClass]="'spinnerMarginAuto'"
              color="primary"
      ></mat-spinner>
    </div>
  </div>

<mat-table #table [dataSource]="dataSource" matSort
           matSort
           matSortActive="{{sort.name}}"
           matSortDirection="{{sort.direction}}"
           matSortDisableClear (matSortChange)="sortData($event)"
            >

  <ng-container
          *ngFor="let col of columnsDescription"
          matColumnDef="{{col.matColumnDef}}"
          sticky="{{col.sticky}}">
    <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="{{col.matColumnDef}}"
    > {{col.displayName}} </mat-header-cell>
    <mat-cell *matCellDef="let element" [class.cursor-pointer]="true">
      <!-- display folder icon for folders and workspaces -->
      <!--<fa-icon [icon]="['fab', 'facebook']" style="font-size:30px; color: #38539a;"></fa-icon>-->
      <fa-icon *ngIf="col.id == 'name' && element.type == 3"
               [icon]="['far', retrieveDocumentIcon(element, 'far')]"
               size="lg"
               [ngClass]="'file-icon-browse-list'"></fa-icon>
      <mat-icon *ngIf="col.id == 'name' && element.type != 3" class="type-icon" fxFlex="40px">folder</mat-icon>
      <!--<mat-icon *ngIf="col.id == 'name' && element.type == 3"><i class="fa fa-file"></i></mat-icon>-->
      <span *ngIf="col.id != 'icon'">{{ col.cell ? col.cell(element) : element[col.matColumnDef]}}</span>
      <mat-icon *ngIf="col.id == 'icon'" class="type-icon" [ngClass]="element.extension" fxFlex="64px"></mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container
          matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> <mat-icon style="margin: auto;">apps</mat-icon> </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!-- only for documents and folders-->
      <div *ngIf="element.type === 3 || element.type === 2" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
        <div>
          <mat-icon
                    title="Bookmark document"
                    (click)="handleBookmarkDocument(element)"
                    [class.cursor-pointer]="true">
            {{entityStarIcon(element)}}
          </mat-icon>
        </div>
        <div>
          <mat-icon title="Add to export"
                    (click)="addToShoppingCart(element)"
                    [class.cursor-pointer]="true">
            add_shopping_cart
          </mat-icon>
        </div>
        <!-- only for documents -->
        <ng-container *ngIf="element.type === 3">
          <div><mat-icon
                  title="Download document"
                  (click)="handleFileDownload(element.lastVersionId)"
                  [class.cursor-pointer]="true">
            get_app
          </mat-icon></div>
          <div>
            <entity-list-lock-button [docId]="element.uid"></entity-list-lock-button>
          </div>
          <div><mat-icon title="View document" [class.cursor-pointer]="true"
                         (click)="goToDocument(element)">visibility</mat-icon></div>
          <div><mat-icon [matMenuTriggerFor]="docMenu"
                         [matMenuTriggerData]="{uid: element.uid, name: element.name, entity: element}"
                         title="See more available actions" [class.cursor-pointer]="true">more_horiz</mat-icon></div>
        </ng-container>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;"
           (dblclick)="goToDocument(row)"
           (click)="onSelect(row)"
           [ngClass]="{'selected' : row == selected, 'dragover': isDragOver(row.uid)}"
           matRipple
           (drop)="handleDrop($event, row)"
           (dragover)="handleDragOver($event, row)"
           (dragenter)="handleDragEnter($event)"
           (dragstart)="dragStart($event, row)"
           (dragend)="handleDragEnd($event, row)"
           (dragexit)="handleDragExit($event, row)"
           draggable="true"
           [attr.data-entityuid]="row.uid">
  </mat-row>


</mat-table>

<mat-menu #docMenu="matMenu">
  <ng-template matMenuContent let-uid="uid" let-name="name" let-entity="entity">
    <button mat-menu-item><mat-icon>create_new_folder</mat-icon> Properties</button>
    <button mat-menu-item><mat-icon>history</mat-icon> Versions</button>
    <button mat-menu-item (click)="openShareDialog(uid, name)" ><mat-icon>share</mat-icon> Share</button>
    <button mat-menu-item (click)="openPermissionsDialog(uid)" ><mat-icon>warning</mat-icon> Permissions</button>
    <button mat-menu-item (click)="addToShoppingCart(entity)" ><mat-icon>add_shopping_cart</mat-icon></button>
    <button mat-menu-item (click)="delete(uid, name)" ><mat-icon>delete</mat-icon> Delete</button>
  </ng-template>
</mat-menu>

</div>
