<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="https://www.teclib-edition.com/"
           target="_blank" mat-button fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <span>Kimios by Teclib'</span>
        </a>

        <div
                fxFlex="60"
                (click)="openBottomSheetUploadList()"
                [hidden]="!showFileUploadProgress"
                fxLayout="column"
                fxLayoutAlign="space-between start"
        >
            <file-upload-progress></file-upload-progress>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button target="_blank" href="https://www.teclib-edition.com/">Teclib'</a>
            <span>&bull;</span>
            <a mat-button href="https://www.kimios.com">kimios.com</a>
        </div>

    </div>

</mat-toolbar>
