<div *ngIf="mediaType$ | async as mediaType" class="" style="overflow: auto; height: 100%;" fxLayout="row"
     fxLayoutAlign="center start"  >

<ng-container *ngIf="docIsText(mediaType); else docPdf">
    <pre style="display:block; width: 100%; height:100%;">
        <ng-container *ngIf="fileCompleteContent$ | async as fileContent">{{fileContent}}</ng-container>
    </pre>
</ng-container>
<ng-template #docPdf>
    <ng-container *ngIf="docNeedsConversionToPdf(mediaType) || docIsPDF(mediaType); else docImg">
        <ng-container *ngIf="link$ | async as link">
            <object  type="application/pdf"
                     [data]="link"
                     style="width: 100%; display: block; height: 100%;"
                     class="embed-responsive-item"
            >
            </object>
        </ng-container>
    </ng-container>
</ng-template>
<ng-template #docImg>
    <ng-container *ngIf="link$ | async as link">
        <div><img [src]="link" ></div>
    </ng-container>
</ng-template>

</div>
