<!--
<form [formGroup]="form" (ngSubmit)="submit()">
    <div *ngFor="let file of data.filesList">
        <mat-checkbox>{{file.name}}</mat-checkbox>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
    </div>
</form>
-->
<!--<mat-dialog-title>Upload files</mat-dialog-title>-->
<mat-dialog-content>
    <form [formGroup]="form">
        <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex>
            <div  fxLayout="row" fxLayoutAlign="space-between  center" style="width: 100%">
                <div fxFlex="100" formGroupName="filesList" >
                    <div
                            cdkDropList
                            #filesListDiv
                            fxLayout="column"l
                            fxLayoutAlign="space-around start"
                            fxLayoutGap="10px"
                    >

                        <div *ngFor="let path of dirsPath" formArrayName="{{makeKeyFromPathForFormControl(path)}}"
                             fxFill>

                            <div>{{path}}</div>

                            <div *ngFor="let fileCtl of data.filesList.get(path); let i = index"
                                 class="fileToUpload w100p" >
                                <!-- not working, bug -->
                                <!--<mat-divider *ngIf="i > 0"></mat-divider>-->
                                <hr *ngIf="i > 0" class="hrSeparator" />

                                <div
                                        cdkDropList
                                        [id]="data.filesList.get(path)[i]?.name"
                                        [cdkDropListConnectedTo]="fileIds"

                                        (cdkDropListEntered)="dragOver($event)"
                                        (cdkDropListExited)="dragExit($event)"

                                        fxLayout="row"
                                        fxLayoutAlign="start start"
                                        fxLayoutGap="7px"

                                        class="padding5"
                                ><!--(cdkDropListDropped)="addTag($event)"-->
                                    <mat-checkbox
                                            [formControlName]="i"
                                            name="{{i}}"
                                    >
                                        {{this.data.filesList.get(path)[i]?.name}}
                                    </mat-checkbox>
                                        <input
                                                placeholder="Enter a tag here"
                                                #tagInput
                                                [ngClass]="'tagInput'"
                                                [id]="fileIdsMap.get(path + '/' + this.data.filesList.get(path)[i]?.name)"
                                                [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur"
                                                (matChipInputTokenEnd)="addTag($event, this.data.filesList.get(path)[i]?.name, fileIdsMap.get(path + '/' + this.data.filesList.get(path)[i]?.name))"
                                                 >
                                    <mat-chip-list #chipList>
                                        <mat-chip
                                                *ngFor="let tag of this.filesTags$.get(this.data.filesList.get(path)[i]?.name) | async"
                                                [removable]="true"
                                                (removed)="removeTag(tag, this.data.filesList.get(path)[i]?.name)"
                                                attr.data-filename="{{this.data.filesList[i]?.name}}"
                                                attr.data-tagvalue="{{tag}}"
                                        >
                                            {{tag}}
                                            <mat-icon matChipRemove >cancel</mat-icon>
                                        </mat-chip>
                                        <!--[matAutocomplete]="auto"<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                            <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
                                                {{tag}}
                                            </mat-option>
                                        </mat-autocomplete>-->
                                    </mat-chip-list>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div  fxLayout="row" fxLayoutAlign="center center">
                <button mat-button (click)="onNoClick()">No, Thanks</button>
                <button mat-button (click)="submit()">Ok</button>
            </div>
        </div>
    </form>
</mat-dialog-content>
