<!--
<form [formGroup]="form" (ngSubmit)="submit()">
    <div *ngFor="let file of data.filesList">
        <mat-checkbox>{{file.name}}</mat-checkbox>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
    </div>
</form>
-->
<form [formGroup]="form">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex>
        <div  fxLayout="row" fxLayoutAlign="space-between  center" style="width: 100%">
            <div fxFlex="45" formArrayName="filesList" >
                <div
                        cdkDropList
                        #filesListDiv
                        fxLayout="column"
                        fxLayoutAlign="space-around start"
                >

                    <div
                         cdkDropList
                         [id]="data.filesList[i]?.name"
                         [cdkDropListConnectedTo]="fileIds"
                         (cdkDropListDropped)="addTag($event)"
                         (cdkDropListEntered)="dragOver($event)"
                         *ngFor="let file of form.controls.filesList['controls']; let i = index"
                    >
                        <mat-checkbox
                                [formControlName]="i"
                                name="{{i}}"
                        >
                            {{this.data.filesList[i]?.name}}
                        </mat-checkbox>
                    </div>

                </div>
            </div>
            <div fxFlex="45">

                Tag these files
                <file-tags [cdkDropListConnectedTo_var]="fileIds"></file-tags>

            </div>
        </div>

        <div  fxLayout="row" fxLayoutAlign="center center" mat-dialog-actions>
            <button mat-button (click)="onNoClick()">No, Thanks</button>
            <button mat-button (click)="submit()">Ok</button>
        </div>
    </div>
</form>
