<div fxLayout="column" fxLayoutAlign="start" style="width: 100%;" fxLayoutGap="20px">

<mat-tab-group *ngIf="(isAdmin$ | async) || (hasStudioAccess$ | async); else personalSettingsOnly">

  <mat-tab label="Settings">
    <personal-settings style="padding: 0"></personal-settings>
  </mat-tab>

  <mat-tab *ngIf="(isAdmin$ | async)" label="Administration">
    <administration></administration>
  </mat-tab>

  <mat-tab *ngIf="(hasStudioAccess$ | async)" label="Studio">
    <studio></studio>
  </mat-tab>
</mat-tab-group>

<ng-template #personalSettingsOnly>
  <personal-settings></personal-settings>
</ng-template>

</div>
