<form [formGroup]="addUserForm">

<div fxLayout="column" fxLayoutAlign="start" style="width: 100%;" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15px">
    <div fxFlex>

      <mat-form-field>
        <input
               type="text"
               matInput
               [matAutocomplete]="autoSearchUsersAndGroups"
               placeholder="Search by name, groups…"
               [formControl]="addUserForm.get('userOrGroupInput')"
               (focus)="sendEventResetSearch()">
        <mat-autocomplete #autoSearchUsersAndGroups="matAutocomplete" fxFlex="40" [displayWith]="displayWithFunc">
          <mat-option *ngFor="let userOrGroup of filteredUsersAndGroups$ | async" placeholder="placeholder"
                      (onSelectionChange)="onSelectionChange($event)"
                      [value]="userOrGroup">
            <div *ngIf="userOrGroup.type === 'user' else templateGroup;" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>person</mat-icon>
              <span>
                {{userOrGroup.element.firstName
              + ' '
              + userOrGroup.element.lastName
              + ' (' + userOrGroup.element.uid + '@' + userOrGroup.element.source
              + ')'}}
              </span>
            </div>
            <ng-template #templateGroup>
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>group</mat-icon>
                <span>
                  {{userOrGroup.element.name + ' (' + userOrGroup.element.gid + '@' + userOrGroup.element.source + ')'}}
                </span>
              </div>
            </ng-template>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <ng-container [formGroup]="addUserForm.get('securities')" >
  <div
          *ngFor="let permission of permissions; let i = index"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="15px"
          [formGroup]="addUserForm.get('securities').get(i.toString())">
    <div fxFlex>
      <div fxLayout="column" >
        <div>
          <span style="font-weight: bolder">{{permission.fullName}}</span>
        </div>
        <div>
          <span>{{permission.name + '@' + permission.source}}</span>
        </div>
      </div>
    </div>
    <div [class.permission-cell-header]="true"
         fxLayout="row" fxLayoutAlign="center center">
      <div><mat-checkbox [formControlName]="'read'"></mat-checkbox></div>
    </div>
    <div [class.permission-cell-header]="true"
         fxLayout="row" fxLayoutAlign="center center">
      <div><mat-checkbox [formControlName]="'write'"></mat-checkbox></div>
    </div>
    <div [class.permission-cell-header]="true"
         fxLayout="row" fxLayoutAlign="center center">
      <div><mat-checkbox [formControlName]="'fullAccess'"></mat-checkbox></div>
    </div>
  </div>
  </ng-container>
</div>

</form>
