<div fxLayout="row"  fxLayoutGap="8px" fxLayoutAlign=" center" style="height: 100%">
  <div (click)="goToHome()" class="cursor-pointer">
    <mat-icon>home</mat-icon>
  </div>
  <ng-container *ngIf="contextIsWorkspace()" >
    <ng-container *ngFor="let dir of pathDirs; let index">
      <mat-icon>chevron_right</mat-icon>
      <div (click)="goToDir(dir)" class="cursor-pointer">{{dir.name}}</div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="contextIsDocument()" >
    <ng-container *ngFor="let dir of pathDirs; let index">
      <mat-icon>chevron_right</mat-icon>
      <div (click)="navigateToDir(dir.uid)" class="cursor-pointer">{{dir.name}}</div>
    </ng-container>
    <mat-icon>chevron_right</mat-icon>
    <div>{{document.name + (document.extension ? '.' + document.extension : '')}}</div>
  </ng-container>
</div>
